﻿@using Aries.Model.Entities
@model List <Aries.Model.Entities.EmployeeView>
@{
    ViewBag.Title = "Groups";
}

@section Header {
    @Styles.Render("~/Content/dataTablesCss")
}
<h2>Groups</h2>
<br />

<div id="Alerts"></div>

<div class="row">
    <div class="col-md-12">
        <div class="grid-wrapper">
            <table id="groups" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th data-container="body" data-toggle="tooltip" data-placement="top" title="Group Name">Name</th>
                        <th data-container="body" data-toggle="tooltip" data-placement="top" title="Group Description">Description</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div id="employeesContainer">
    <h2>Employees</h2>
    <label id="employeesLabel"></label>
    <div class="row">
        <div class="col-md-12">
            <div class="grid-wrapper">
                <table id="employees" class="table table-striped table-bordered table-layout:fixed">
                    <thead>
                        <tr>
                            <th><input name="select_all" value="1" id="example-select-all" type="checkbox" /></th>
                            <th data-container="body" data-toggle="tooltip" data-placement="top" title="First Name">First Name</th>
                            <th data-container="body" data-toggle="tooltip" data-placement="top" title="Last Name">Last Name</th>
                            <th data-container="body" data-toggle="tooltip" data-placement="top" title="Last Name">Role</th>
                            <th data-container="body" data-toggle="tooltip" data-placement="top" title="Last Name">Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var employee in Model)
                        {
                            <tr>
                                <td><input type="checkbox" id="@employee.Id" class="groupEmployee" value=""></td>
                                <td>@employee.FirstName</td>
                                <td>@employee.LastName</td>
                                <td>@employee.Role</td>
                                <td>@employee.Active</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Templates {
    <script id="commandButtonTemplate" type="x-ui-template">
            <button name='edit' class='btn btn-icon btn-icon-info'>
                <span class='glyphicon glyphicon-edit' />
            </button>
            <button name='delete' class='btn btn-icon btn-icon-cancel'>
                <span class='glyphicon glyphicon-remove' />
            </button>
        <button name='sendAlert' class='btn btn-icon btn-icon-success' onclick="showAlertDialog(this)">
            <span class='glyphicon glyphicon-envelope' />
        </button>
    </script>

    <script id="addEditRowTemplate" type="x-ui-template">
        <tr>
            <td><input type="text" name="groupName" class="form-control input-sm table-input" value="" /></td>
            <td><input type="text" name="groupDescription" class="form-control input-sm table-input" value="" /></td>
            <td>
                <button name='addEditSave' class='btn btn-icon btn-icon-accept'>
                    <span class='glyphicon glyphicon-ok-circle' />
                </button>
                <button name='addEditCancel' class='btn btn-icon btn-icon-info'>
                    <span class='glyphicon glyphicon-ban-circle' />
                </button>
            </td>
        </tr>
    </script>
    }

<!-- Modal -->
<div class="modal fade" id="sendAlertModal" tabindex="-1" role="dialog" aria-labelledby="sendAlertModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary" style="color:white">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="sendAlertModalLabel">Send Alert</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                Enter a message to broadcast to this group:
                            </label>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <textarea id="message" name="messageInput" rows="7" style="max-width:600px;width:100%;resize: none"></textarea>
                        </div>
                    </div>
                </div>  
            </div>         
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="btnSendAlert" type="button" class="btn btn-primary">Send Alert</button>
            </div>
        </div>
    </div>
</div>



@section Scripts {
@Scripts.Render("~/bundles/dataTablesScripts")

<script>
    window.applicationBaseUri = @Html.Raw(HttpUtility.JavaScriptStringEncode(Url.Content("~/"), true));

    var isEditing = false;
    var currentGroupId = -1;
    var groupsTable, employeesTable;

    // Check that the group data is valid
    function validGroup(group) {
        // Validate Group Field Values
        var nameValid = group.Name != null && group.Name.trim().length > 0;
        var descriptionValid = group.Description != null && group.Name.trim().length > 0;

        // If Any Field Is Invalid - Show Alert And Return
        if (nameValid == false) {
            addFailureAlert('Validation Error', 'The group name is invalid');
            return false;
        }
        else if (descriptionValid == false) {
            addFailureAlert('Validation Error', 'The group description is invalid');
            return false;
        }
        return true;
    }

    // Add this group from the add row to the database and table
    function addGroup(dt) {
        var row = $("#addRow");

        // Construct the group from data. Add client side validation later for the
        // Empty fields
        var group = {
            Name: $("input[name='groupName']", row).val(),
            Description: $("input[name='groupDescription']", row).val(),
        };

        // Check group data is valid
        if (validGroup(group) == false) { return; }

        var employees = $('.groupEmployee:checked');
        var groupEmployees = [];
        $(employees).each(function(){ groupEmployees.push({"GroupId": -1, "EmployeeId": this.id}); });
        group.Employees = groupEmployees;

        // Post the data and redraw the table
        $.ajax({
            type: "POST",
            url: window.applicationBaseUri + "Manage/AddGroup",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ groupToAdd: group }),
            dataType: "json",
            success: function (data) {
                dt.row.add(data).draw();
                addSuccessAlert('Success!', 'Group ' + group.Name + ' has been added');
                $('#employeesContainer').hide();
            },
            error: function (error) {
                // Handle error case
                addFailureAlert('Failure!', 'An error occurred adding group ' + group.Name);
            }

        });
    }

    // Update existing group
    function updateGroup(row, data, callback) {
        employeesTable.search('').draw();
        // Copy the updated tr information into the data
        data.Name = $("input[name='groupName']", row).val();
        data.Description = $("input[name='groupDescription']", row).val();

        // TODO: this is sort of redundant, but added to send to validation function

        var employees = $('.groupEmployee:checked');
        var groupEmployees = [];
        var groupId = data.Id ? data.Id : -1;
        $(employees).each(function(){ groupEmployees.push({"GroupId": groupId, "EmployeeId": this.id}); });

        var group = {
            Name: data.Name,
            Description: data.Description
        };

        // Check group data is valid
        if (!validGroup(group)) {
            callback(false);
            return;
        }

        data.Employees = groupEmployees;

        // Send the data
        $.ajax({
            type: "POST",
            url: window.applicationBaseUri + "Manage/UpdateGroup",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ groupToUpdate: data }),
            success: function () {
                callback(true);
                addSuccessAlert('Success!', 'Group ' + data.Name + ' has been updated');
                $('#employeesContainer').hide();
            },
            error: function () {
                callback(false);
                addFailureAlert('Failure!', 'An error occurred updating group ' + data.Name);
            }
        });
    }

    // Clear the entire groups from the table 
    function clearGroups(dt) {
        //bootbox.confirm("Are you sure you want to remove all groups?",
        //    function (result) {
        //        if (result) {
                    $.ajax({
                        type: "DELETE",
                        url: window.applicationBaseUri + "Manage/ClearGroups",
                        success: function () {
                            dt.clear().draw();
                            addSuccessAlert('Success!', 'All groups have been cleared');
                        },
                        error: function () {
                            // Handle error
                            addFailureAlert('Failure!', 'An error occurred clearing groups');
                        }
                    });
                //}
            //});
    }

    // Remove the group contained in the specified row
    function removeGroup(tr) {

        var groupId = tr.attr("id");
        $.ajax({
            type: "POST",
            url: window.applicationBaseUri + "Manage/RemoveGroup?groupId=" + groupId,
            success: function () {
                groupsTable.row(tr).remove().draw();
                addSuccessAlert('Success!', 'Group has been deleted');
            },
            error: function (error) {
                // Handle error
                addFailureAlert('Failure!', 'An error occurred deleting group');
            }
        });

    }

    function showAlertDialog(el)
    {
        var groupId = $(el).parents("tr").attr("id");
        currentGroupId = groupId;
        var groupName = $($(el).parents("tr").children()[0]).html();
        $('#sendAlertModalLabel').text('Send an alert to group: ' + groupName);
        $('#sendAlertModal').modal('show');
    }

    // Function to replace the selected row with an editor
    function showEditRow(tr) {
       
        //employeesTable.search('').draw();
        $('#employeesContainer').show();

        isEditing = true;

        var oldData = groupsTable.row(tr).data();

        // Copy the data incase we need to revert
        var newData = $.extend({}, oldData);

        // Copy the row from template and populate the data
        // Need to figure out why I cannot write a selector for the child tr
        // Something to do with the script tag? Invalid table syntax in the template?
        var editRow = $($("#addEditRowTemplate").html());
        
        $("input[name=groupName]", editRow).val(newData.Name);
        $("input[name=groupDescription]", editRow).val(newData.Description);

        // Add the edit row to the dom
        tr.empty();
        tr.prepend(editRow.children());

        // Bind keydown event handler
        $("input[name='groupName']", tr).focus();
        $(tr).on("keydown", function (event) {
            if (event.which == 13) {
                addGroup(groupsTable);
                isEditing = false;
            }
        });

        // Add click handlers 
        $("button[name='addEditCancel']", tr).on("click", function () {
            groupsTable.row(tr).remove();
            groupsTable.row.add(oldData).draw();
            $('#employeesContainer').hide();            
            isEditing = false;
        });

        $("button[name='addEditSave']", tr).on("click", function () {
            groupsTable.row(tr).remove();
            updateGroup(tr, newData, function (result) {
                if (result) {
                    groupsTable.row.add(newData).draw();
                } else {
                    // TODO: Show error message
                    groupsTable.row.add(oldData).draw();
                    $('#employeesContainer').hide();
                }
                isEditing = false;
            });
        });
        
        $('input:checkbox').prop('checked',false);
        
        // Get Employees In Currently Selected Group
        $.ajax({
            type: "POST",
            url: window.applicationBaseUri + "Manage/GetGroupEmployees?groupId=" + $(tr).attr('id'),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $(data).each(function(i,el)
                {
                    $('#' + el.Id + '.groupEmployee').prop('checked',true);
                });

                $('#employeesLabel').text('Employees in Group: ' + $(data).size());
            },
            error: function () {
                addFailureAlert('Failure!', 'An error occurred updating group ' + data.Name);
            }
        });
    }

    // Function to show or hide the add group row
    // Note: Any method that cause the datable to redraw
    // will remove this row and datables itself doesn't manage it.
    // I find this acceptible for most interactions 
    function showHideAddRow(show, dt) {
        employeesTable.search('').draw();

        if (show && !$("#addRow").length) {

            isEditing = true;

            // Set Checked Here
            $('#employeesContainer').show();

            // Add the row from template
            var tr = $($("#addEditRowTemplate").html()).attr("id", "addRow");
            tr.prependTo("#groups > tbody");

            // Bind keydown event handler
            $("input[name='groupName']", tr).focus();
            $(tr).on("keydown", function (event) {
                if (event.which == 13) {
                    addGroup(dt);
                }
            });

            // Add click handlers 
            $("button[name='addEditCancel']").on("click", function () {
                showHideAddRow(false, dt);      
                isEditing = false;
            });

            $("button[name='addEditSave']").on("click", function () {
                addGroup(dt);
                isEditing = false;
            });

        } else if (!show) {
            $("#addRow").remove();            
            $('#employeesContainer').hide();
            isEditing = false;
        }
    }

    // Initialize the datatable
    function initTable() {

       employeesTable = $('#employees').DataTable(
            {
                'columnDefs': [{
                    'targets': 0,
                    'searchable':false,
                    'orderable':false,
                    'className': 'dt-body-center',
                    'render': function (data, type, full, meta){

                        return '<input type="checkbox" name="id[]" id="' + $(full)[0].replace('type="checkbox"', '').split('"')[1] + '" value="' 
                           + $('<div/>').text(data).html() + '">';
                    }
                }],
                'order': [1, 'asc'],
                "scrollY":        "400px",
                "scrollCollapse": true,
                "paging":         false
            });

        // Handle click on "Select all" control
        $('#example-select-all').on('click', function(){
            // Check/uncheck all checkboxes in the table
            var rows = employeesTable.rows({ 'search': 'applied' }).nodes();
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
        });

        // Handle click on checkbox to set state of "Select all" control
        $('#employees tbody').on('change', 'input[type="checkbox"]', function(){
            // If checkbox is not checked
            if(!this.checked){
                var el = $('#example-select-all').get(0);
                // If "Select all" control is checked and has 'indeterminate' property
                if(el && el.checked && ('indeterminate' in el)){
                    // Set visual state of "Select all" control 
                    // as 'indeterminate'
                    el.indeterminate = true;
                }
            }
        });

        // Grab the html tmeplates for the command buttons
        var commandButtons = $("#commandButtonTemplate").html();

        // Invoke th edatables constructor
        groupsTable = $('#groups').DataTable({
            // Annoying dom configuration code for laying out the table precisely as wanted
            dom: "<'row'<'col-md-6 pull-left'B><'col-md-6 pull-right'f>>" +
                 "<'row'<'col-md-12'rt>>",
            // Ajax endpoint for retrieving the list of groups for the document
            ajax: {
                url: window.applicationBaseUri + "Manage/GetGroups",
                dataSrc: ""
            },
            initComplete:
                function (settings) {
                    $('button[name=sendAlert]:not([data-bound=true])')
                    .attr("data-bound", "true")
                    .on("click", function () {
                        var groupId = $(this).parents("tr").attr("id");
                        currentGroupId = groupId;
                        var groupName = $($(this).parents("tr").children()[0]).html();
                        $('#sendAlertModalLabel').text('Send an alert to group: ' + groupName);

                        $('#sendAlertModal').modal('show');
                    });
                },
            // Field from the request that represents the record id
            rowId: "Id",
            // Column specifier (and field the data comes from)
            columns: [
                { data: "Name" },
                { data: "Description" },
                // A special column for control buttons
                {
                    data: null,
                    orderable: false,
                    width: "15%",
                    defaultContent: commandButtons,
                    // Attach event handlers for the buttons after creation
                    createdCell: function (td, cellData, rowData, row, col) {
                        // Add click handlers for button column
                        $("button[name='edit']", td).on("click", function () {
                            if (isEditing == true) { return; }
                            var tr = $(this).parents("tr");
                            showEditRow(tr);
                        });

                        $("button[name='delete']", td).on("click", function () {
                            if (isEditing == true) { return; }
                            var tr = $(this).parents("tr");
                            removeGroup(tr);
                        });
                    }
                }
            ],
            // No paging, just scrolling for this page the 
            // group list is anticipated ot be small
            paging: true,
            //scrollY: 300,
            //scrollCollapse: true,
            // Custom control buttons on top

            buttons:
                    [{
                        text: 'Add Group',
                        action: function (e, dt, node, config) {
                            showHideAddRow(true, dt);
                            $('input:checkbox').prop('checked',false);
                        }
                    },
                    {
                        text: "Clear",
                        action: function (e, dt, node, config) {
                            clearGroups(dt);
                        }
                    }],
            // Text configuration for the table
            language: {
                zeroRecords: "You have no groups. Click the \"Add Group\" button to create one."
            }
        });
    }

    // On document init create the table
    $(document).ready(function () {
        initTable();
        
        $('#employeesContainer').hide();

        // Clear button click
        $("#btnSendAlert").on("click", function () {

            // Broadcast message to the group
            $.ajax({
                type: "POST",
                url: window.applicationBaseUri + "Manage/SendAlert?groupId=" + currentGroupId + "&message=" + $('#message').val(),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                   
                    addSuccessAlert('Success!', 'Your message has been broadcast to the group');
                },
                error: function (data) {
                    addFailureAlert('Failure!', 'An error occurred broadcasting the message to the group');
                }
            });
            $('#sendAlertModal').modal('hide');
        });
    });
    
    // Add success alert to specified container - default to layout alert container
    function addSuccessAlert(title, message, container) {
        // Add Success Alert To Container
        var alertHtml = '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>' + title + '</strong>  ' + message + '</div>';
        addAlert(alertHtml, container);
    }

    // Add failure alert to specified container - default to layout alert container
    function addFailureAlert(title, message, container) {
        // Add Failure Alert To Container
        var alertHtml = '<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>' + title + '</strong>  ' + message + '</div>';
        addAlert(alertHtml, container);
    }

    // Add alert to container
    function addAlert(alertHtml, container) {
        // If Alert Container Doesnt Exist - Set It To Layout Alert Container
        if (!container) {
            container = $('#Alerts');
        }

        // If The Alert Container Has Any Existing Alerts Shown - Clear Them Out
        if ($(container).children().length > 0) {
            $(container).empty();
        }

        // Add Alert Html To Alert Container
        $(container).append(alertHtml);
    }

</script>
}
