﻿@using Aries.Model.Entities
@{
   ViewBag.Title = "Timesheet Overview";
}

<div class="page-header">
    <h3>Timesheet Overview</h3>

</div>

@section Scripts {
    @Scripts.Render("~/Scripts/jquery.dataTables.js");
    @Scripts.Render("~/Scripts/jquery.dataTables.min.js");
    @Scripts.Render("~/Scripts/jquery.dataTables.columnFilter.js");

<script>
</script>
}