﻿@using Aries.Model.Entities
@model Aries.Model.Entities.DispatchAlertView
@{
    ViewBag.Title = "Dispatch Alert";
    List<Aries.Model.Entities.DispatchAlertView> alerts = (List<Aries.Model.Entities.DispatchAlertView>)ViewData["Alerts"]; 
}

<h3>    
    @Html.ActionLink(
            linkText: "Dispatch Alerts",
            actionName: "Alerts",
            controllerName: "Dispatch",
            routeValues: null,
            htmlAttributes: new { @class = "btn btn-success btn-lg glyphicon glyphicon-refresh" }
            )
</h3>
@section Header{
    @Styles.Render("~/Content/dataTablesCss")
}
<div class="page-header">    
    <table class="table" style="border-collapse:collapse;" id="alertTable">
        <thead>
            <tr class="header">
                <th>Order No</th>
                <th>Time</th>
                <th>Customer</th>                      
                <th>Driver</th>                      
                <th>Status</th>                      
            </tr>
        </thead>
        <tbody>
        @{
            foreach (var alert in alerts)
            {
                var temp = "/Dispatch/Detail/" + alert.Id.ToString();
                if (alert.BGcss == "red")
                {
                    <tr style="background: #FF0000">
                        <td style=""><a href='@temp'>@alert.OrderNumber</a></td>
                        <td>@alert.Timestamp</td>
                        <td>@alert.Customer</td>
                        <td>@alert.Driver</td>
                        <td>@alert.Status</td>
                    </tr>                }
                else
                {
                    <tr style="background: #FFC">
                        <td style=""><a href='@temp'>@alert.OrderNumber</a></td>
                        <td>@alert.Timestamp</td>
                        <td>@alert.Customer</td>
                        <td>@alert.Driver</td>
                        <td>@alert.Status</td>
                    </tr>                
                }              
            }
        }
        </tbody>
    </table>        
</div>

@section Scripts {
    <script>

        $(document).ready(function () {

            $("#alertTable").dataTable({
                bJQueryUI: true,
                "order": [[1, "desc"]],
                sPaginationType: "full_numbers"
            });
        });
    </script>
    @Scripts.Render("~/bundles/dataTablesScripts")
}