﻿@using Aries.Model.Entities
@model Aries.Model.Entities.Dispatch
@{
    ViewBag.Title = "Dispatch Detail";
    var OrderNumber = ViewData["OrderNumber"];
    List<Aries.Model.Entities.Status> statuses = (List<Aries.Model.Entities.Status>)ViewData["Statuses"]; 
}

<div class="page-header">
    <h3>Dispatch Detail (@OrderNumber)</h3>
    <div>
        <table class="table" style="border-collapse:collapse;" id="dispatchDetailTable">
            <tr>
                <th colspan="4" BGCOLOR="#CCCC99">Order Information</th>
            </tr>            
            <tr class="OrderNumber">
                <td>@Html.LabelFor(dispatch => dispatch.Timestamp, "Order Time: ")</td>
                <td >@Html.TextBoxFor(dispatch => dispatch.Timestamp, new { @readonly = true })</td>
                <td>@Html.LabelFor(dispatch => dispatch.PickupTime, "Pickup Time: ")</td>
                <td >@Html.TextBoxFor(dispatch => dispatch.PickupTime, new { @readonly = true })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(dispatch => dispatch.Customer.Name, "Name: ")</td>
                <td>@Html.TextBoxFor(dispatch => dispatch.Customer.Name, new { @readonly = true })</td>        
            </tr>
            <tr>
                <td>@Html.LabelFor(dispatch => dispatch.PickupFullAddress, "Pickup Address: ")</td>
                <td>@Model.PickupFullAddress</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(dispatch => dispatch.DropoffFullAddress, "Dropoff Address: ")</td>
                <td>@Model.DropoffFullAddress</td>
            </tr>
           <tr>
                <th colspan="4" BGCOLOR="#CCCC99">Dispatch Information</th>
            </tr>    
            <tr>
                <td>@Html.LabelFor(dispatch => dispatch.Driver.Name, "Driver: ")</td>
                <td >@Html.TextBoxFor(dispatch => dispatch.Driver.Name, new { @readonly = true })</td>
                <td>@Html.LabelFor(dispatch => dispatch.Driver.Vehicle.Description, "Vehicle: ")</td>
                <td >@Html.TextBoxFor(dispatch => dispatch.Driver.Vehicle.Description, new { @readonly = true })</td>
        
            </tr>
            <tr>
                @if (Model.Payment != null)
                {
                    <td>@Html.LabelFor(dispatch => dispatch.Payment, "Payment: ")</td>
                    <td>@Html.TextBoxFor(dispatch => dispatch.Payment.PaymentToDriverAmount,  new { @readonly = true,  Value=String.Format("{0:C}", Model.Payment.PaymentToDriverAmount) })</td>
                    <td>@Html.CheckBoxFor(dispatch => dispatch.Payment.PaymentToDriver, new { @readonly = true }) @Html.LabelFor(dispatch => dispatch.Payment.PaymentToDriver, " Payment To Driver")</td>
                    <td>@Html.CheckBoxFor(dispatch => dispatch.Payment.Paid, new { @readonly = true }) @Html.LabelFor(dispatch => dispatch.Payment.Paid, " Paid")</td>       
                }
            </tr>
            <tr>
                <td>@Html.LabelFor(dispatch => dispatch.Notes, "Notes: ")</td>
                <td colspan="3">@Html.TextBoxFor(dispatch => dispatch.Notes, new { style="width:300%" } )</td>
            </tr>
            <tr>
                <th colspan="4" BGCOLOR="#CCCC99">Status</th>
            </tr>            
            @{        
                foreach (var status in statuses)
                {
                    <tr class="dispatchStatus">
                        <td></td>
                        <td>@status.Timestamp</td>
                        <td colspan="2">@status.StatusList.Description</td>
                    </tr>
                }
                        }   
        </table>                
    </div>
    <div style="width:100%;" >
        @Html.LabelFor(dispatch => dispatch.Notes, new { style="width:100%;" })    
    </div>
    <div style="width:100%;" >
        @Html.TextBoxFor(dispatch => dispatch.Notes , new { style = "width: 100%;" })
    </div>
    
</div>
