﻿@using Aries.Model.Entities
@model Aries.Model.Entities.DispatchSummaryView
@{
   ViewBag.Title = "Dispatch Overview";
   List<Aries.Model.Entities.DispatchSummaryView> dispatches = (List<Aries.Model.Entities.DispatchSummaryView>)ViewData["Dispatches"];  
}
@section Header{
    @Styles.Render("~/Content/dataTablesCss")
}
<div >
    <h3> @Html.ActionLink(
        linkText: "Dispatch Overview",
        actionName: "Overview",
        controllerName: "Dispatch",
        routeValues: null,
        htmlAttributes: new { @class = "btn btn-success btn-lg glyphicon glyphicon-refresh" }
        )
    </h3>
   
    <table class="table"  style="border-collapse:collapse;" id="dispatchTable">
        <thead>
            <tr class="header">
                <th>Order No</th>
                <th>Time</th>
                <th>Customer</th>                      
                <th>Driver</th>                      
                <th>Status</th>                      
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Order No</th>
                <th>Time</th>
                <th>Customer</th>
                <th>Driver</th>
                <th>Status</th>
           </tr>
        </tfoot>
        <tbody>
        @{
            @*foreach (var dispatch in dispatches)         
            {
                var temp = "/Dispatch/Detail/" + dispatch.Id.ToString();
                <tr>
                    <td><a href='@temp'>@dispatch.OrderNumber</a></td>
                    <td>@dispatch.Timestamp</td>
                    <td>@dispatch.Customer</td>
                    <td>@dispatch.Driver</td>
                    <td>@dispatch.Status</td>
                </tr>
            }*@
        }
        </tbody>
    </table>        
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/jquery.dataTables.js");
    @Scripts.Render("~/Scripts/jquery.dataTables.min.js");
    @Scripts.Render("~/Scripts/jquery.dataTables.columnFilter.js");
    @Scripts.Render("~/Scripts/jquery.jquery-dateFormat.min.js");
<script>
    orderSearch = ""
    customerSearch = ""
    driverSearch = ""
    statusSearch = ""

    $(document).ready(function () {
        // Setup - add a text input to each footer cell

        window.applicationBaseUri = @Html.Raw(HttpUtility.JavaScriptStringEncode(Url.Content("~/"), true));
        // DataTable
        initTable();
        

        function initTable() {
            console.log('In initTable');
            $('#dispatchTable tfoot th').each(function () {
                var title = $(this).text();
                console.log('Title= ', title.toString());
                $(this).html('<input type="text" placeholder="Search ' + title + '" />');

                if (sessionStorage.getItem("orderSearch") !== undefined && sessionStorage.getItem("orderSearch") !== null){
                    if (title == 'Order No'){
                        $(this).html('<input type="text" placeholder=" ' + sessionStorage.getItem("orderSearch") + '" + "id=' + title + '" />');
                    }
                }
                
                if (sessionStorage.getItem("customerSearch") !== undefined && sessionStorage.getItem("customerSearch") !== null){
                    if (title == 'Customer'){
                        $(this).html('<input type="text" placeholder=" ' + sessionStorage.getItem("customerSearch") + '" + "id=' + title + '" />');
                    }
                }
                
                if (sessionStorage.getItem("driverSearch") !== undefined && sessionStorage.getItem("driverSearch") !== null){
                    if (title == 'Driver'){
                        $(this).html('<input type="text" placeholder=" ' + sessionStorage.getItem("driverSearch") + '" + "id=' + title + '" />');
                    }
                }
                
                if (sessionStorage.getItem("statusSearch") !== undefined && sessionStorage.getItem("statusSearch") !== null){
                    if (title == 'Status'){
                        $(this).html('<input type="text" placeholder=" ' + sessionStorage.getItem("statusSearch") + '" + "id=' + title + '" />');
                    }
                }
            });
            console.log(window.applicationBaseUri);
            var now = new Date();
            var today = new Date(now.getFullYear(), now.getMonth(), now.getDate());
            var tomorrow = new Date(now.getFullYear(), now.getMonth(), now.getDate()+1);

            var todayStr = (today.getMonth()+1).toString() + "/" 
                            + today.getDate().toString() 
                            + "/" + today.getFullYear().toString();
            var tomorrowStr = (tomorrow.getMonth()+1).toString() 
                            + "/" + tomorrow.getDate().toString() + "/" 
                            + tomorrow.getFullYear().toString();

            var link = window.applicationBaseUri + "Dispatch/GetTrips/?fr=" + todayStr + "&to=" + tomorrowStr;
            var table = $('#dispatchTable').DataTable({
                
                    ajax: {
                        url: link,
                    dataSrc: ""
                },
                stateSave:true,
                processing: true,
                rowId: "Trip",
                initComplete:
                    function (settings) {
                        /* Apply the tooltips */
                        $('[data-toggle="tooltip"]').tooltip(
                        {
                            "container": 'body'
                        })
                    },
                columns: [

                   { 
                       data: "OrderNumber",
                       render: function (data, type, row, meta) {
                           var url = window.applicationBaseUri + 'Dispatch/Detail/' + data;
                       
                           return '<a href="' + url + '">' + data + '</a>';
                       }

                   },
                   
                   {
                       data: "Timestamp",

                       render: function (data, type, row, meta) {
                           var rowvalue = row["Timestamp"];

                           var date = new Date(parseInt(data.substr(6)));

                           var mth = date.getMonth() + 1;
                           var day = date.getDate();
                           var hh = date.getHours();
                           var ampm = (hh >= 12) ? "PM" : "AM";
                           hh = (hh <= 12) ? hh : hh-12;
                           var mm = date.getMinutes();
                           var ss = date.getSeconds();

                           var month = (mth < 10) ? "0" + mth : mth;
                           var days = (day < 10) ? "0" + day : day;
                           var hrs = (hh < 10) ? "0" + hh : hh;
                           var min = (mm < 10) ? "0" + mm : mm;
                           var sec = (ss < 10) ? "0" + ss : ss;

                           return month + "/" + days + "/" + date.getFullYear() + " "
                                  + hrs + ":" + min + ":" + sec + " " + ampm;
                        }
                   },
                   
                   { data: "Customer" },
                   { data: "Driver" },
                   { data: "Status" },

                   
                ],
                order: [[1, "asc"]],
                
            });
            table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change', function () {
                    //tableValues[that[0][0]] = this.value;  
                    if (that[0][0] == 0) orderSearch = this.value;
                    sessionStorage.setItem("orderSearch", orderSearch);

                    if (that[0][0] == 2) customerSearch = this.value;
                    sessionStorage.setItem("customerSearch", customerSearch);

                    if (that[0][0] == 3) driverSearch = this.value;
                    sessionStorage.setItem("driverSearch", driverSearch);

                    if (that[0][0] == 4) statusSearch = this.value;
                    sessionStorage.setItem("statusSearch", statusSearch);

                    if (this.value !== null && this.value !== undefined && this.value !== ""){                
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();                                                
                        }
                    }

                });
            });

            table.columns().every(function () {
                var that = this;

                if (that[0][0] == 0) this.value = sessionStorage.getItem("orderSearch");                
                if (that[0][0] == 2) this.value = sessionStorage.getItem("customerSearch");                
                if (that[0][0] == 3) this.value = sessionStorage.getItem("driverSearch");                
                if (that[0][0] == 4) this.value = sessionStorage.getItem("statusSearch");   

                if (this.value !== null && this.value !== undefined && this.value !== ""){
                    that
                        .search(this.value)
                }
            });

            setInterval(function () {
                console.log('Timer set');

                table.ajax.reload(null, false); // user paging is not reset on reload
            }, 30000)
        }

    });
</script>
@Scripts.Render("~/bundles/dataTablesScripts")


}