﻿@using Aries.Model.Entities
@model Aries.Model.Entities.RouteView
@{
   ViewBag.Title = "Routes";
}
@section Header{
    @Styles.Render("~/Content/dataTablesCss")
}
<form  id="f" method="post" action="@Url.Action("Routes", "Dispatch")">

    <h3>Routes</h3>
    <div class="col-md-offset-5 col-md-2">
        <input type="button" class="btn btn-default" id="btnExport" value="Export"/>
    </div>

    <table class="table"  id="dispatchTable">
        <thead>
            <tr class="header">
                <th>Time of Route</th>
                <th>Name</th>
                <th>Driver Name</th>                  
                <th>Duration</th>    
                <th>Distance</th> 
                <th>Revenue</th>  
                <th>Status</th>                      
            </tr>
        </thead>
        <tfoot>
            @*<tr>
                <th>Name</th>
                <th>Driver Name</th>
                <th>Duration</th>
                <th>Distance</th>
                <th>Revenue</th>        
            </tr>*@
        </tfoot>
        <tbody>
        
        </tbody>
    </table>        

    <div>
        <table height="50">
            <tr>
                <td style="text-align:left">
                </td>
                <td style="text-align:left">
                </td>
                <td style="text-align:left">
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td style="text-align:left">
                    <label for="frDate">From:</label> @Html.TextBox("fr")
                </td>
                <td style="text-align:left">
                    <label for="toDate">To:</label> @Html.TextBox("to")
                </td>
                <td>
                    <input type="button" id="searchArchives" value="Search" />
                </td>
                <td>
                    <input type="button" id="clearRoutes" value="Delete Routes" />
                </td>
            </tr>
        </table>
    </div>
</form>
@section Scripts {
    @Scripts.Render("~/Scripts/jquery.dataTables.js");
    @Scripts.Render("~/Scripts/jquery.dataTables.min.js");
    @Scripts.Render("~/Scripts/jquery.dataTables.columnFilter.js");

<script>
    orderSearch = ""
    customerSearch = ""
    driverSearch = ""
    statusSearch = ""

    $(document).ready(function () {
        window.applicationBaseUri = @Html.Raw(HttpUtility.JavaScriptStringEncode(Url.Content("~/"), true));
        // DataTable
                    
            //$('#dispatchTable tfoot th').each(function () {
            //    var title = $(this).text();
            //    console.log('Title= ', title.toString());
            //    $(this).html('<input type="text" placeholder="Search ' + title + '" + "id=' + title + '" />');

            //    if (sessionStorage.getItem("orderSearch") !== undefined && sessionStorage.getItem("orderSearch") !== null){
            //        if (title == 'Order No'){
            //            $(this).html('<input type="text" placeholder=" ' + sessionStorage.getItem("orderSearch") + '" + "id=' + title + '" />');
            //        }
            //    }
                
            //    if (sessionStorage.getItem("customerSearch") !== undefined && sessionStorage.getItem("customerSearch") !== null){
            //        if (title == 'Customer'){
            //            $(this).html('<input type="text" placeholder=" ' + sessionStorage.getItem("customerSearch") + '" + "id=' + title + '" />');
            //        }
            //    }
                
            //    if (sessionStorage.getItem("driverSearch") !== undefined && sessionStorage.getItem("driverSearch") !== null){
            //        if (title == 'Driver'){
            //            $(this).html('<input type="text" placeholder=" ' + sessionStorage.getItem("driverSearch") + '" + "id=' + title + '" />');
            //        }
            //    }
                
            //    if (sessionStorage.getItem("statusSearch") !== undefined && sessionStorage.getItem("statusSearch") !== null){
            //        if (title == 'Status'){
            //            $(this).html('<input type="text" placeholder=" ' + sessionStorage.getItem("statusSearch") + '" + "id=' + title + '" />');
            //        }
            //    }
            //});          

            var fr =  "";
            var frdate = "";

            if ($("#fr").text() != "") {
                fr = $("#fr").datepicker({ dateFormat: 'mm/dd/yyyy' });          
                frdate = ($.datepicker.formatDate("mm-dd-yyyy", fr));
            }
            var to =  "";
            var todate = "";

            if ($("#to").text() != "") {
                fr = $("#to").datepicker({ dateFormat: 'mm/dd/yyyy' });          
                frdate = ($.datepicker.formatDate("mm-dd-yyyy", to));
            }
            var link = window.applicationBaseUri + "Dispatch/GetRouteSummary/";
            var table = $('#dispatchTable').DataTable({
                
                ajax: {
                    url: link,
                    data:function ( d ){
                        d.frDate = $('#fr').datepicker().val(),
                        d.toDate = $('#to').datepicker().val()
                    },
                    dataSrc: ""
                },
                stateSave:true,
                processing: true,
                rowId: "Trip",
                initComplete:
                    function (settings) {
                        /* Apply the tooltips */
                        $('[data-toggle="tooltip"]').tooltip(
                        {
                            "container": 'body'
                        })
                    },
                columns: [

                   { data: "Timestamp"},                  
                   { data: "Name"},                  
                   { data: "DriverName"},                   
                   { data: "Duration" },
                   { data: "Distance" },
                   { data: "Revenue" },   
                   { data: "Status" },                  
                ],
                order: [[1, "asc"]],
                
            });
            //table.columns().every(function () {
            //    var that = this;

            //    $('input', this.footer()).on('keyup change', function () {
            //        //tableValues[that[0][0]] = this.value;  
            //        if (that[0][0] == 0) orderSearch = this.value;
            //        sessionStorage.setItem("orderSearch", orderSearch);

            //        if (that[0][0] == 2) customerSearch = this.value;
            //        sessionStorage.setItem("customerSearch", customerSearch);

            //        if (that[0][0] == 3) driverSearch = this.value;
            //        sessionStorage.setItem("driverSearch", driverSearch);

            //        if (that[0][0] == 4) statusSearch = this.value;
            //        sessionStorage.setItem("statusSearch", statusSearch);

            //        if (this.value !== null && this.value !== undefined && this.value !== ""){                
            //            if (that.search() !== this.value) {
            //                that
            //                    .search(this.value)
            //                    .draw();                                                
            //            }
            //        }

            //    });
            //});

            table.columns().every(function () {
                var that = this;

                if (that[0][0] == 0) this.value = sessionStorage.getItem("orderSearch");                
                if (that[0][0] == 2) this.value = sessionStorage.getItem("customerSearch");                
                if (that[0][0] == 3) this.value = sessionStorage.getItem("driverSearch");                
                if (that[0][0] == 4) this.value = sessionStorage.getItem("statusSearch");   

                if (this.value !== null && this.value !== undefined && this.value !== ""){
                    that
                        .search(this.value)
                }
            });

            //setInterval(function () {
            //    console.log('Timer set');
            //    table.ajax.reload(null, false); // user paging is not reset on reload

            //}, 30000)
        //$('#fr').datepicker()
            
        //    .on("change", function (e) {
        //        table.ajax.reload(null, false); 
        //    });
        //$('#to').datepicker()
        //    .on("change", function (e) {
        //        table.ajax.reload(null, false);
        //    }); 
        $('#searchArchives').on("click", function(){
            table.ajax.reload(null, false);
        });
        $('#btnExport').on("click", function(){
            $.ajax({
                type: "POST",
                url: window.applicationBaseUri + "Dispatch/ExportRoutes/?frDate=" + $('#fr').datepicker().val() + "&toDate=" + $('#to').datepicker().val(),
                //data:function ( d ){
                //    d.frDate = $('#fr').datepicker().val(),
                //    d.toDate = $('#to').datepicker().val()
                //},
                dataSrc: "",
                success: function (data) {
                },
                error: function (error) {
                }

            });            
        });

        $('#clearRoutes').on("click", function(){
            $.ajax({
                type: "POST",
                url: window.applicationBaseUri + "Dispatch/DeleteRoutes/",
                //data:function ( d ){
                //    d.frDate = $('#fr').datepicker().val(),
                //    d.toDate = $('#to').datepicker().val()
                //},
                dataSrc: "",
                success: function (data) {
                },
                error: function (error) {
                }

            });            
        });
    });


</script>
@Scripts.Render("~/bundles/dataTablesScripts")
}