﻿@using Aries.Model.Entities
@{
    ViewBag.Title = "Location Alerts Summary";
    List<LocationAlertSummary> locAlerts = (List<LocationAlertSummary>)ViewData["LocationAlertSummary"]; 
}
@section Header{
    @Styles.Render("~/Content/dataTablesCss")
}


@*<input type="button" class="btn btn-default" id="btnExportDaily" value="Export Todays Log" onclick="location.href='@Url.Action("ExportAllDriverLog", "Timesheet", new {date= DateTime.Now})'" />*@

<h3>Location Summary (Week of @ViewBag.StartDate.ToShortDateString() - @ViewBag.StartDate.AddDays(6).ToShortDateString())</h3>

    @*style="border-collapse:collapse;"*@
<form id="f" method="post" action="@Url.Action("Summary", "Location")">
    <table class="table" id="userTable" border="1">
        <thead>
            <tr class="header">
                <th>Employee</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in locAlerts)
                {
                    <tr>
                        <td>@item.EmployeeName</td>
                        <td>@item.Mon<br /></td>
                        <td>@item.Tue<br /></td>
                        <td>@item.Wed<br /></td>
                        <td>@item.Thu<br /></td>
                        <td>@item.Fri<br /></td>
                        <td>@item.Sat<br /></td>
                        <td>@item.Sun<br /></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</form>
    <div id="summaryCalendarSelector" class="form-horizontal" style="max-width: 300px;">
        <div class="form-group">
            <label class="control-label col-sm-3">Week:</label>
            <div class="col-sm-9">
                <div class="input-group date">
                    <input type="text" class="form-control" />
                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/Scripts/jquery.dataTables.js");
        @Scripts.Render("~/Scripts/jquery.dataTables.min.js");
        @Scripts.Render("~/Scripts/jquery.dataTables.columnFilter.js");

        <script>
            $('#summaryCalendarSelector .input-group.date').datepicker({ autoclose: true, weekStart: 1 }).on('changeDate', function (e) {
                var selected = moment(e.date).format('YYYY-MM-DD');

                var urlString = "/Location/Summary/?date=" + selected;
                window.location = urlString;

            });

            $("#userTable td").each(function () {
                var thisCell = $(this);
                var cellValue = thisCell.text();

                if (cellValue == "True") {
                    thisCell.css("background-color", "#FF0000");
                    thisCell.text(" ");
                } else if (cellValue == "False") {
                    thisCell.css("background-color", "#FFFFFF");
                    thisCell.text(" ");
                }
            }
         )
            $("#userTable").dataTable({
               // bJQueryUI: true,
                //sPaginationType: "full_numbers",
                processing: true,
                rowId: "Trip",
                initComplete:
                    function (settings) {
                        /* Apply the tooltips */
                        $('[data-toggle="tooltip"]').tooltip(
                        {
                            "container": 'body'
                        })
                    },
            });
        </script>
       @* @Scripts.Render("~/bundles/dataTablesScripts")*@
    }
