﻿@{
    Layout = "~/Views/Shared/_Blank.cshtml";
}

@using Aries.Model.Entities
@model Aries.Model.Entities.Address

@if (ViewBag.Editable == false) 
{     
    <script type="text/javascript">
        if (parent && parent.DayPilot && parent.DayPilot.ModalStatic) {
            parent.DayPilot.ModalStatic.close(null);
        }
    </script>
}

<!DOCTYPE html>
<html>
<body class="padded">
    <form id="f" method="post" action="@Url.Action("Address")">
    <h2>New Address</h2>

    <div style="margin-top:20px">
        <div>Address</div>
        <div>@Html.TextBox("Street", Model.Street,  new { style = "width: 150px; height: 20px;" })</div>
    
        <div>City</div>
        <div>@Html.TextBox("City", Model.City, new { style = "width: 150px; height: 20px;" })</div>

        <div>State</div>
        <div>@Html.TextBox("State", Model.State, new { style = "width: 150px; height: 20px;" })</div>

        <div>Zipcode</div>
        <div>@Html.TextBox("PostalCode",  Model.PostalCode, new { style = "width: 150px; height: 20px;" })</div>

    </div>

    <hr />
    
    <div>
        <input type="submit" value="Save" class="btn btn-default.active btn-medium glyphicon glyphicon-save"/>
        <a href="javascript:close()" class="btn btn-default btn-medium glyphicon glyphicon-cancel" role="button">Cancel</a>    
    </div>
    
    </form>
    
    <script type="text/javascript">
        function close(result) {
            if (parent && parent.DayPilot && parent.DayPilot.ModalStatic) {
                parent.DayPilot.ModalStatic.close(result);
            }
        }

        $("#f").submit(function () {
            var f = $("#f");
            $.post(f.action, f.serialize(), function (result) {
                close(eval(result));
            });
            return false;
        });

        $(document).ready(function () {
            $("#Text").focus();
        });

    </script>
    
</body>
</html>



