﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-group">
        <div class="btn-group">
                <input type="button" title="addr" value="Add Address" onclick="newAddress();" />
        </div>

        <div class="btn-group">
                <input type="button" title="cust" value="Add Customer" onclick="newCustomer();" />
        </div>

        <div class="btn-group">
                <input type="button" title="veli" value="Add Vehicle" onclick="newVehicle();" />
        </div>

        <div class="btn-group">
                <input type="button" title="drvr" value="Add Driver" onclick="newDriver();" />
        </div>

        <div class="btn-group">
                <input type="button" title="Paym" value="Add Payment" onclick="newPayment();" />
        </div>


        <div class="btn-group">
                <input type="button" title="Orde" value="Add Order" onclick="newOrder();" />
        </div>

        <div class="btn-group">
                <input type="button" title="stat" value="Add Status" onclick="newStatus();" />
        </div>
</div>


<script type="text/javascript">

    function newAddress() {
        modal().showUrl("@Url.Content("~/Test/Address")");
    }
    function newCustomer() {
        modal().showUrl("@Url.Content("~/Test/Customer")");
    }
    function newVehicle() {
        modal().showUrl("@Url.Content("~/Test/Vehicle")");
    }
    function newDriver() {
        modal().showUrl("@Url.Content("~/Test/Driver")");
    }
    function newPayment() {
        modal().showUrl("@Url.Content("~/Test/Payment")");
    }
    function newOrder() {
        modal().showUrl("@Url.Content("~/Test/Order")");
    }
    function newStatus() {
        modal().showUrl("@Url.Content("~/Test/Status")");
    }

    function modal() {
        var modal = new DayPilot.Modal();
        modal.top = 60;
        modal.width = 300;
        modal.opacity = 30;
        modal.border = "5px solid #d0d0d0";
        modal.closed = function () {
            //if (this.result == "OK") {
            //    dpc.commandCallBack('refresh');
            //}
            //dpc.clearSelection();
        };
        modal.height = 250;
        return modal;
    }
  </script>