﻿
@using DayPilot.Web.Mvc.Enums.Calendar
@using DayPilot.Web.Mvc.Events.Calendar

    <div id="calendarSelector" class="form-horizontal" style="max-width: 300px;">
        <div class="form-group">
            <label class="control-label col-sm-3">Week:</label>
            <div class="col-sm-9">
                <div class="input-group date">
                    <input type="text" class="form-control" />
                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset- col-sm-9">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" onclick="javascript:dpc.commandCallBack('view-week');">Week</button>
                    <button type="button" class="btn btn-default" onclick="javascript:dpc.commandCallBack('view-day');">Day</button>
                    <button type="button" class="btn btn-default" onclick="vacationEvent();">Vacation</button>
                    <button type="button" class="btn btn-default" onclick="holidayEvent();">Holiday</button>
                </div>
            </div>
        </div>
    </div>
<div>    
    @Html.ActionLink(
            linkText: " IN ",
            actionName: "Index",
            controllerName: "Timesheet",
            routeValues: new { id = @ViewBag.UserID, bIn = true},
            htmlAttributes: null 
            ) |
    @Html.ActionLink(
            linkText: " OUT ",
            actionName: "Index",
            controllerName: "Timesheet",
            routeValues: new { id = @ViewBag.UserID, bOut = true },
            htmlAttributes: null 
            )
</div>

    <div class="note">
        <a href="javascript:dpc.commandCallBack('previous');">Previous</a> |
        <a href="javascript:dpc.commandCallBack('today');">Today</a> |
        <a href="javascript:dpc.commandCallBack('next');">Next</a>
    </div>


    <div class="container body-content">
        @Html.DayPilotCalendar("dpc", new DayPilotCalendarConfig
        {

            //BackendUrl = Url.Content("~/Timesheet/Backend" ),
            BackendUrl = Url.Action("Backend", "Timesheet", new { Id = @ViewBag.UserID }),
            BusinessBeginsHour = @ViewBag.BusinessHourStart,
            BusinessEndsHour = @ViewBag.BusinessHourEnd,
            //ViewType = @ViewBag.ViewType,
            StartDate = @ViewBag.StartDate,
            Days = @ViewBag.Days,
            TimeRangeSelectedHandling = TimeRangeSelectedHandlingType.JavaScript,
            TimeRangeSelectedJavaScript = "createEvent(start, end)",
            EventMoveHandling = EventMoveHandlingType.CallBack,
            EventResizeHandling = EventResizeHandlingType.CallBack,
            EventClickHandling = EventClickHandlingType.JavaScript,
            EventClickJavaScript = "editEvent(e.value());",
        })  
    </div>

@section Scripts {
  <script type="text/javascript">
      $('#calendarSelector .input-group.date').datepicker({ autoclose: true }).on('changeDate', function (e) {
          var selected = moment(e.date).startOf('week').format('YYYY-MM-DD');
          dpc.commandCallBack("navigate", { start: selected });
      });

      function vacationEvent() {
          modal().showUrl("@Url.Content("~/Dialog/Vacation")?id=" + @ViewBag.UserID);
    }

    function holidayEvent() {
        modal().showUrl("@Url.Content("~/Dialog/Holiday")?id=" + @ViewBag.UserID);
      }

      function createEvent(start, end, resource) {        
          modal().showUrl("@Url.Content("~/Dialog/New")?id=" + @ViewBag.UserID + "&start=" + start.toStringSortable() + "&end=" + end.toStringSortable());
      }

      function editEvent(id) {
          modal().showUrl("@Url.Content("~/Dialog/Edit/")" + id);
    }

    function modal() {
        var modal = new DayPilot.Modal();
        modal.top = 60;
        modal.width = 300;
        modal.opacity = 30;
        modal.border = "5px solid #d0d0d0";
        modal.closed = function () {
            if (this.result == "OK") {
                dpc.commandCallBack('refresh');
            }
            dpc.clearSelection();
        };

        modal.height = 250;
        return modal;
    }
  </script>
}








