﻿@using Aries.Model.Entities
@{
    ViewBag.Title = "Lunch Summary";
    //List<TimeoffSummary> timeoffSummary = (List<TimeoffSummary>)ViewData["TimeoffSummary"]; 
}

    @*style="border-collapse:collapse;"*@
<form id="f" method="post" action="@Url.Action("LunchSummary", "Timesheet")">
    <table class="table" style="width:auto" id="lunchTable" border="1">
        <thead>
            <tr class="header">
                <th>Employee</th>
                <th></th>
                <th></th>
                <th>Lunch Start</th>
                <th>Lunch End</th>
                <th>Update</th>
                @*<th>Toggle Approval</th>*@
            </tr>
        </thead>
        <tfoot>
            <tr class="header">
                <th>Employee</th>
                <th></th>
                <th></th>
                <th>Lunch Start</th>
                <th>Lunch End</th>
                <th>Update</th>
                @*<th>Toggle Approval</th>*@
            </tr>
        </tfoot>
        <tbody>            
        </tbody>
    </table>
</form>
    @section Scripts {
        @Scripts.Render("~/Scripts/jquery.dataTables.js");
        @Scripts.Render("~/Scripts/jquery.dataTables.min.js");
        @Scripts.Render("~/Scripts/jquery.dataTables.columnFilter.js");

        <script>
            
            window.applicationBaseUri = @Html.Raw(HttpUtility.JavaScriptStringEncode(Url.Content("~/"), true));
            var urlUpdate = window.applicationBaseUri + 'Timesheet/UpdateLunch' ;
            $(document).ready(function () {
                // DataTable
                
                var checkState = "Accepted";
                
                $('#lunchTable tfoot th').each(function () {
                    var title = $(this).text();
                    console.log('Title= ', title.toString());
                    $(this).html('<input type="text" style="width:100%" placeholder="Search ' + title + '" />');
                });
                console.log(window.applicationBaseUri);
                // Activate an inline edit on click of a table cell
                
                var link = window.applicationBaseUri + "Timesheet/GetLunchSummary/" ;
                var table = $('#lunchTable').DataTable({

                    
                    ajax: {
                        url: link,
                        //data:function ( d ){
                        //    d.fr = $('#fr').datepicker().val(),
                        //    d.to = $('#to').datepicker().val()
                        //},
                        dataSrc: ""
                    },
                    processing: true,
                    rowId: "Requests",
                    initComplete:
                        function (settings) {
                            /* Apply the tooltips */
                            $('[data-toggle="tooltip"]').tooltip(
                            {
                                "container": 'body'
                            })
                        },
                    columns: [
                       { data: "EmployeeName"},
                       {
                          data: "ID",
                          width: "10%",
                          sortable: false,
                          render: function (data, type, row, meta) {
                              var now = new Date();
                              var today = new Date(now.getFullYear(), now.getMonth(), now.getDate());
                              
                              var todayStr = (today.getMonth()+1).toString() + "/" 
                                              + today.getDate().toString() 
                                              + "/" + today.getFullYear().toString();
                              var urlTags = window.applicationBaseUri + 'Timesheet/Lunch30Summary/?Id=' + data + '&date='+ todayStr;
                              return '<a class="btn btn-sm btn-primary id="editCertButton"" href="' + urlTags + '">' + "Lunch 30" + '</a> '
                          }
                       },

                       {
                           data: "ID", //Lunch 60

                           render: function (data, type, row, meta) {
                               var now = new Date();
                               var today = new Date(now.getFullYear(), now.getMonth(), now.getDate());
                              
                               var todayStr = (today.getMonth()+1).toString() + "/" 
                                               + today.getDate().toString() 
                                               + "/" + today.getFullYear().toString();
                               var urlTags = window.applicationBaseUri + 'Timesheet/Lunch60Summary/?Id=' + data + '&date='+ todayStr;
                               return '<a class="btn btn-sm btn-primary id="editCertButton"" href="' + urlTags + '">' + "Lunch 60" + '</a> '
                           }
                       },
                       
                        {
                            data: "LunchStart", className: 'editable',  
                            render: function (data, type, row, meta) {                               
                                var rowvalue = row["LunchStart"];
                                return '<input type="text"' + ' id="editStart" value="' + rowvalue + '" />' ; 
                            }
                        },
                       {
                           data: "LunchEnd", className: 'editable',  
                           render: function (data, type, row, meta) {                               
                               var rowvalue = row["LunchEnd"];
                               return '<input type="text"' + ' id="editEnd" value="' + rowvalue + '" />' ; 
                           } 
                       },
                       {
                           data: "ID", //Update lunch
                           render: function (data, type, row, meta) {
                               
                               var urlTags = window.applicationBaseUri + 'Timesheet/UpdateLunch/?Id=' + data + '&startdate='+ row["LunchStart"] + '&enddate=' + row["LunchEnd"];
                               //return '<a class="btn btn-sm btn-primary id="updateLunchTimes"" href="' + urlTags + '">' + "Update" + '</a> '
                               return '<button btn btn-sm btn-primary name="updateLunchTimes"' + '>' + "Update"
                           }
                       },
                       
                    ],
                    order: [[1, "asc"]],
                    select: {
                        style:    'os',
                        selector: 'td:first-child'
                    },

                });
                table.columns().every(function () {
                    var that = this;

                    $('input', this.footer()).on('keyup change', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                });  

                $("#lunchTable").on("click", "button[name=updateLunchTimes]", function () {
                    searchedRow = $(this).closest("tr");
                    var start = $("#editStart", searchedRow).val();
                    var end = $("#editEnd", searchedRow).val();
                    var id = table.row( $(this).parents('tr') ).data()["ID"];
                    var url = window.applicationBaseUri + 'Timesheet/UpdateLunch/?Id=' + id + '&startdate='+ start + '&enddate=' + end;
                    $.ajax({url: url, type:"POST", success: function(result){
                        
                    }});
                });
                
            });

            

        </script>
    }
