﻿@{ Layout = "~/Views/Shared/_Blank.cshtml"; }
@using Aries.Model.Entities
@model Aries.Model.Entities.TimesheetDetail

@if (ViewBag.Editable == false) 
{     
    <script type="text/javascript">
        if (parent && parent.DayPilot && parent.DayPilot.ModalStatic) {
            parent.DayPilot.ModalStatic.close(null);
        }
    </script>
}


<form id="f" method="post" action="@Url.Action("Edit")">
    <h3>Edit Event</h3>

    <div>@Html.Hidden("UserId", ViewData["UserId"])</div>   

    
    <div class="form-group">
        <div class="col-sm-6">
            <label class="input-group date">Week Of</label>
        </div>
        <div class="col-sm-6">
            <div class="input-group date">
                @Html.TextBox("txWeekOf", ViewData["WeekOf"])
                <i class="glyphicon glyphicon-th"></i>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-6">
            <label class="input-group date">Reg Hours</label>
        </div>
        <div class="col-sm-6">
            <div class="input-group date">
                @Html.TextBox("txRegHour", ViewData["RegHour"], new { @type = "number" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-6">
            <label class="input-group date">OT Hours</label>
        </div>
        <div class="col-sm-6">
            <div class="input-group date">
                @Html.TextBox("txOTHour", ViewData["OTHour"],  new { @type="number"})
            </div>
        </div>
    </div>    
    <hr />
    <div class="form-group">
        <div class="col-sm-9">
            @Html.CheckBox("delete_event")Delete 
            <input type="submit" value="Save" class="btn btn-default.active btn-medium glyphicon glyphicon-save"/>
            <a href="javascript:close()" class="btn btn-default btn-medium glyphicon glyphicon-cancel" role="button">Cancel</a>    
        </div>
    </div>
    
</form>
    
<script type="text/javascript">

    $(function () {
        $("#WeekOf").datepicker({
            firstDay: 1 // Start with Monday
        });
    });

    function close(result) {
        if (parent && parent.DayPilot && parent.DayPilot.ModalStatic) {
            parent.DayPilot.ModalStatic.close(result);
        }
    }

    function deleteEvent(result) {
    }

    $("#f").submit(function () {
        var f = $("#f");
        $.post(f.action, f.serialize(), function (result) {
            close(eval(result));
        });
        return false;
    });

    $(document).ready(function () {
        $("#Text").focus();
    });

</script>

