﻿@{ Layout = "~/Views/Shared/_Blank.cshtml"; }
@using Aries.Model.Entities
@model Aries.Model.Entities.TimesheetDetail

<form id="f" method="post" action="@Url.Action("HolidayEdit")">
    
    <h3>Holiday Edit</h3>    
    
    <div>@Html.Hidden("timesheetid", Model.TimesheetID , new { @readonly = true })</div>
    <div>@Html.Hidden("id", Model.Id , new { @readonly = true })</div>
    

    <div class="form-group">
        <div class="col-sm-6">
            <label class="input-group date">Date</label>
        </div>
        <div class="col-sm-6">
            <div class="input-group date">
                @Html.TextBox("EventDate", Model.TimeIn.ToString(@"MM\/dd\/yyyy"))
                <i class="glyphicon glyphicon-th"></i>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <hr />

    <div class="form-group">
        <div class="col-sm-9">
            @Html.CheckBox("delete_event")Delete 
            <input type="submit" value="Save" class="btn btn-default.active btn-medium glyphicon glyphicon-save"/>
            <a href="javascript:close()" class="btn btn-default btn-medium glyphicon glyphicon-cancel" role="button">Cancel</a>    
        </div>    
    </div>  
        
    </form>
    
<script type="text/javascript">
    $(function () {
        $("#EventDate").datepicker({ selectWeek: true, closeOnSelect: false });
    });
    function close(result) {
        if (parent && parent.DayPilot && parent.DayPilot.ModalStatic) {
            parent.DayPilot.ModalStatic.close(result);
        }
    }
    $("#f").submit(function () {
        var f = $("#f");
        $.post(f.action, f.serialize(), function (result) {
            close(eval(result));
        });
        return false;
    });
    $(document).ready(function () {
        $("#Text").focus();
    });
</script>    
