﻿@{ Layout = "~/Views/Shared/_Blank.cshtml"; }

@if (ViewBag.Editable == false) 
{     
    <script type="text/javascript">
        if (parent && parent.DayPilot && parent.DayPilot.ModalStatic) {
            parent.DayPilot.ModalStatic.close(null);
        }
    </script>
}

<form id="f" method="post" action="@Url.Action("New")">
    
    <h3>New Event</h3>  
    <div>@Html.Hidden("UserId", ViewData["UserId"])</div>
    <div class="form-group">
        <div class="col-sm-6">
            <label class="input-group date">Service Code</label>
        </div>
        <div class="col-sm-6">
            <div class="input-group date">
                @Html.DropDownList("ServiceCode", new SelectList(new List<string>(){"Time-Charged", "Lunch", "Vacation", "Holiday", "Bereavement"}), new { style = "width: 150px; height: 20px;" })
            </div>
        </div>
    </div>
        
    <div class="form-group">
        <div class="col-sm-6">
            <label class="input-group date">Date</label>
        </div>
        <div class="col-sm-6">
            <div class="input-group date">
                @Html.TextBox("EventDate", ViewData["EventDate"])
                <i class="glyphicon glyphicon-th"></i>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-6">
            <label class="input-group date">IN</label>
        </div>
        <div class="col-sm-6">
            <div class="input-group date">
                @Html.TextBox("EventStart", ViewData["EventStart"])
                <i class="glyphicon glyphicon-time"></i>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-6">
            <label class="input-group date">OUT</label>
        </div>
        <div class="col-sm-6">
            <div class="input-group date">
                @Html.TextBox("EventEnd", ViewData["EventEnd"])
                <i class="glyphicon glyphicon-time"></i>
            </div>
        </div>
    </div>    
    <hr />
    <div class="form-group">
        <div class="col-sm-9">
            <input type="submit" value="Save" class="btn btn-default.active btn-medium glyphicon glyphicon-save"/>
            <a href="javascript:close()" class="btn btn-default btn-medium glyphicon glyphicon-cancel" role="button">Cancel</a>    
        </div>
    </div>    

</form>
    
<script type="text/javascript">
    $(function () {
        $("#EventDate").datepicker();
        $('#EventStart').timepicker({ 'step': 15 });
        $('#EventEnd').timepicker({ 'step': 15 });
    });
    function close(result) {
        if (parent && parent.DayPilot && parent.DayPilot.ModalStatic) {
            parent.DayPilot.ModalStatic.close(result);
        }
    }
        
    $("#f").submit(function() {
            var f = $("#f");
            $.post(f.action, f.serialize(), function(result) {
                close(eval(result));
            });
            return false;
        });
            
    $(document).ready(function() {
        $("#Text").focus();
    });
    
</script>
    