@using Helpers
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/Content/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/jquery.timepicker.css" />   
    <link rel="stylesheet" href="~/Content/bootstrap.css" >   

    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <script src="~/Scripts/jquery.timepicker.js"></script>
</head>
<body style="padding:10px">
@RenderBody()
</body>
</html>
