﻿@if (Request.IsAuthenticated) {  
  <li class="dropdown" id="dispatch-dropdown-menu">
    @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Dispatch"))
    { 
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dispatch <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li>@Html.ActionLink("Alerts", "Alerts", "Dispatch")</li>
      <li>@Html.ActionLink("Daily Overview", "Overview", "Dispatch")</li>
      <li role="separator" class="divider"></li>
        <li>@Html.ActionLink("Archives", "Archives", "Dispatch")</li>
        <li>@Html.ActionLink("Routes", "Route", "Dispatch")</li>
    </ul>
    }
  </li>
     
  <li class="dropdown" id="timesheet-dropdown-menu">
    @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Dispatch"))
    { 
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Timesheets <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li>@Html.ActionLink("My Timesheet", "Index", "Timesheet")</li>
      <li>@Html.ActionLink("Summary", "Summary", "Timesheet")</li>
      <li>@Html.ActionLink("Time Off Requests", "TimeOffRequests", "Timesheet")</li>
        <li>@Html.ActionLink("Lunch Summary", "LunchSummary", "Timesheet")</li>
        <li>@Html.ActionLink("Holiday Summary", "HolidaySummary", "Timesheet")</li>
    @if (User.IsInRole("Admin"))
    {
      <li role="separator" class="divider"></li>
      }
    </ul>
    }
  </li>

  if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Dispatch")) {
  <li class="dropdown" id="manage-dropdown-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage <span class="caret"></span></a>
    <ul class="dropdown-menu">
        @if (!User.IsInRole("Dispatch")){
          <li>@Html.ActionLink("Users", "Users", "Manage")</li>    
        }      
        <li>@Html.ActionLink("Groups", "Groups", "Manage")</li>   
    </ul>
  </li>
    }

    if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Dispatch"))
    {
        <li class="dropdown" id="location-dropdown-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Location <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Location Alerts", "Summary", "Location")</li>
            </ul>
        </li>
    }
    @*if (User.IsInRole("Admin"))
    {
        <li class="dropdown" id="location-dropdown-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Search <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Search", "Index", "Search")</li>
            </ul>
        </li>
    }*@
     @*   
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Test Menu <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Test Page", "Index", "Test")</li>
    </ul>
  </li>*@
}
