﻿/* COMMON */
.hidden { display: none; }

.tip { margin-bottom: 10px; }

.note { margin-top: 10px; margin-bottom: 10px; }

.table-front a img { box-shadow: 2px 2px 10px rgba(0,0,0,0.2); border: 0px none; }    
.table-front { table-layout: fixed; border: 0px none; position: relative; left: -200px; margin-left: 20px; margin-top: 20px; }
.table-front td { width: 290px; vertical-align: top; }

.menu .pro {
    display: inline-block;
    font-size: 8px;
    padding: 2px;
    background-color: #999;
    color: white;
    border-radius: 2px;	
    position: relative;
    top: -1px;
}

.outerDivBg {  
        background-color: #FFFFFF ;  
        width: 100%;  
        align-content:center;
        padding: 5px;  
}  
          
.innerDivBg {  
        border: solid 2px #666600;  
        background-color: #FFFF00;  
        opacity: .5;  
        width: 100%;  
        margin: 0px auto;  
}

.dialogDiv {
        border: solid 2px #666600;  
        background-color: #FFFF00;  
        opacity: .5;  
        width: 100%;  
        margin: 0px auto;  
}

.buttonSmall {
    width:80px;    
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.buttonOut {
    width:80px;    
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}
