﻿body {
    padding-top: 60px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn-icon-info, .btn-icon-info:hover, .btn-icon-info:focus {
    color: #073763;
}

.btn-icon-accept, .btn-icon-accept:hover, .btn-icon-accept:focus {
    color: #0b6307;
}

.btn-icon-cancel, .btn-icon-cancel:hover, .btn-icon-cancel:focus {
    color: #930314;
}

.btn-icon-success, .btn-icon-success:hover, .btn-icon-success:focus {
    color: #559b1f;
}

.btn-icon {
    padding: 3px 6px;
    background: transparent;
    border: none;
}

.btn-icon > .glyphicon {
    font-size: 18px;
}

#groups td
{
    white-space:normal;
}


.navbar{
    height:65px;        
    font-size:18px;
    background-color:cornflowerblue;
}
.navbar-default{
    background-color:cornflowerblue;
}
.navbar-logo{
     width:120px;
     height:55px;
     margin-top:5px;
}