﻿@{ Layout = "~/Views/Shared/_Blank.cshtml"; }
@using Aries.Model.Entities
@model Aries.Model.Entities.TimesheetDetail

@if (ViewBag.Editable == false) 
{     
    <script type="text/javascript">
        if (parent && parent.DayPilot && parent.DayPilot.ModalStatic) {
            parent.DayPilot.ModalStatic.close(null);
        }
    </script>
}


<form id="f" method="post" action="@Url.Action("Edit")">
    <h3>Edit Event</h3>

    <div>@Html.Hidden("timesheetid", Model.TimesheetID , new { @readonly = true })</div>
    <div>@Html.Hidden("id", Model.Id , new { @readonly = true })</div>

    <div class="form-group">
        <div class="col-sm-6">
            <label class="input-group date">Service Code</label>
        </div>
        <div class="col-sm-6">
            <div class="input-group date">
                @Html.DropDownList("ServiceCode", new SelectList(new List<string>() { "Time-Charged", "Lunch", "Vacation", "Holiday", "Bereavement" }), Model.ServiceCode, new { @style = "width: 150px; height: 20px;" })
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-6">
            <label class="input-group date">Date</label>
        </div>
        <div class="col-sm-6">
            <div class="input-group date">
                @Html.TextBox("EventDate", Model.TimeIn.ToString(@"MM\/dd\/yyyy"))
                <i class="glyphicon glyphicon-th"></i>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-6">
            <label class="input-group date">IN</label>
        </div>
        <div class="col-sm-6">
            <div class="input-group date">
                @Html.TextBox("EventStart", Model.TimeIn.ToString("HH:mm"))
                <i class="glyphicon glyphicon-time"></i>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-6">
            <label class="input-group date">OUT</label>
        </div>
        <div class="col-sm-6">
            <div class="input-group date">
                @Html.TextBox("EventEnd", Model.TimeOut.ToString("HH:mm"))
                <i class="glyphicon glyphicon-time"></i>
            </div>
        </div>
    </div>    
    <hr />
    <div class="form-group">
        <div class="col-sm-9">
            @Html.CheckBox("delete_event")Delete 
            <input type="submit" value="Save" class="btn btn-default.active btn-medium glyphicon glyphicon-save"/>
            <a href="javascript:close()" class="btn btn-default btn-medium glyphicon glyphicon-cancel" role="button">Cancel</a>    
        </div>
    </div>
    
</form>
    
<script type="text/javascript">

    $(function () {
        $("#EventDate").datepicker();
        $('#EventStart').timepicker({ 'step': 15 });
        $('#EventEnd').timepicker({ 'step': 15 });
    });

    function close(result) {
        if (parent && parent.DayPilot && parent.DayPilot.ModalStatic) {
            parent.DayPilot.ModalStatic.close(result);
        }
    }

    function deleteEvent(result) {
    }
    $("#f").submit(function () {
        var f = $("#f");
        $.post(f.action, f.serialize(), function (result) {
            close(eval(result));
        });
        return false;
    });

    $(document).ready(function () {
        $("#Text").focus();
    });

</script>

