﻿@{ Layout = "~/Views/Shared/_Blank.cshtml"; }

<form id="f" method="post" action="@Url.Action("Vacation")">

    <h3>Vacation</h3>    
    
    <div>@Html.Hidden("UserId", ViewData["UserId"])</div>      

    <div class="form-group">
        <div class="col-sm-6">
            <label class="input-group date">Date</label>
        </div>
        <div class="col-sm-6">
            <div class="input-group date">
                @Html.TextBox("EventDate", DateTime.Today.ToString(@"MM\/dd\/yyyy"))
                <i class="glyphicon glyphicon-th"></i>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-6">
            <label class="input-group date">Time</label>
        </div>
        <div class="col-sm-6">
            <div class="input-group date">
                @Html.TextBox("EventTime", "7:00 AM")
                <i class="glyphicon glyphicon-time"></i>
            </div>
        </div>
    </div>
        
    <div class="form-group">
        <div class="col-sm-6">
            <label class="input-group date">Hours</label>
        </div>
        <div class="col-sm-6">
            <div class="input-group date">
                @Html.TextBox("Hours", 8,  new { @type="number", @min="1" })                   
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <div class="col-sm-9">
            <input type="submit" value="Save" class="btn btn-default.active btn-medium glyphicon glyphicon-save"/>
            <a href="javascript:close()" class="btn btn-default btn-medium glyphicon glyphicon-cancel" role="button">Cancel</a>    
        </div>    
    </div>    

</form>
    
<script type="text/javascript">
    $(function () {
        $("#EventDate").datepicker();
        $('#EventTime').timepicker({ 'step': 15 });
    });
            
    function close(result) {
        if (parent && parent.DayPilot && parent.DayPilot.ModalStatic) {
            parent.DayPilot.ModalStatic.close(result);
        }
    }
    $("#f").submit(function () {
        var f = $("#f");
        $.post(f.action, f.serialize(), function (result) {
            close(eval(result));
        });
        return false;
    });
    $(document).ready(function () {
        $("#Text").focus();
    });
</script>    
