﻿@using Aries.Portal.Models
@model SearchViewModel
@{
    ViewBag.Title = "Search";
}
@section Header{
    @Styles.Render("~/Content/dataTablesCss")
}


<div class="panel panel-primary panel-spaced">
    <div class="panel-heading">
        <label>Search</label>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2">Driver</label>
                <div class="col-md-2">
                    @Html.DropDownList("Drivers", Model.DriverDd, "", new { @class = "form-control" })
                </div>

                <label class="col-md-2">Customer</label>
                <div class="col-md-2">
                    @Html.DropDownList("Customers", Model.CustomerDd, "", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-2">
                    <label>Start Date:</label>
                </div>
                <div class="col-md-2">
                    <input id="StartDate" class="form-control" type="text" data-provide="datepicker"
                           value="@Html.DisplayTextFor(m=>m.StartDate) ">
                </div>
                <div class="col-md-2">
                    <label>End Date:</label>
                </div>
                <div class="col-md-2">
                    <input id="EndDate" class="form-control" type="text" data-provide="datepicker"
                           value="@Html.DisplayTextFor(m=>m.EndDate) ">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    <button class="searchButton pull-left btn-lg btn-primary" id="searchButton"><span class="glyphicon glyphicon-search"></span>Search</button>
                </div>
                <div class="col-md-5">
                    <input type="button" class="btn btn-default" id="btnExportSearch" value="Export Search Results" />
                </div>            
            </div>

        </div>
    </div>
</div>

<div id="resultsPanel" class="panel panel-primary panel-spaced" hidden>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group" id="resultsTable" hidden>
                <div class="col-md-12" id="results">
                    <table class="table table-bordered table-striped" id="searchResultsTable">
                        <thead>
                            <tr class="header">
                                <th class="col-md-1">Driver</th>
                                <th class="col-md-1">Customer</th>
                                <th class="col-md-1">Address</th>
                                <th class="col-md-1">Date</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr class="header">
                                <th>Driver</th>
                                <th>Customer</th>
                                <th>Address</th>
                                <th>Date</th>
                            </tr>
                        </tfoot>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

    @*<div id="summaryCalendarSelector" class="form-horizontal" style="max-width: 300px;">
        <div class="form-group">
            <label class="control-label col-sm-3">Week:</label>
            <div class="col-sm-9">
                <div class="input-group date">
                    <input type="text" class="form-control" />
                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
            </div>
        </div>
    </div>*@

    @section Scripts {
        @Scripts.Render("~/Scripts/jquery.dataTables.js");
        @Scripts.Render("~/Scripts/jquery.dataTables.min.js");
        @Scripts.Render("~/Scripts/jquery.dataTables.columnFilter.js");

<script type="text/javascript">
        var selectedCustomerCertID = "";

        var baseURI = @Html.Raw(HttpUtility.JavaScriptStringEncode(Url.Content("~/"), true));


        $(".searchButton").on("click", function () {

            var resultstable = "";

            ($("#resultsPanel")).attr('hidden', false);
            ($("#resultsTable")).attr('hidden', false);
            window.applicationBaseUri = @Html.Raw(HttpUtility.JavaScriptStringEncode(Url.Content("~/"), true));
            var link = window.applicationBaseUri + 'Search/_SearchResults'


            $('#searchResultsTable tfoot th').each(function () {
                var title = $(this).text();
                if (title != "") {
                    $(this).html('<input type="text" style="width:100%" placeholder="Search " />');
                }
            });

            resultstable = $('#searchResultsTable').DataTable({

                ajax: {
                    url: link,
                    cache: false,
                    data: function (d) {
                        d.selectedDriverItem = $("#Drivers").val(),
                        d.selectedCustomerItem = $("#Customers").val(),
                        d.StartDate = $("#StartDate").val(),
                        d.EndDate = $("#EndDate").val()
                    },
                    dataSrc: "",
                },
                @*"language": {
                    "search": "@ApplicationStrings.Search:",
                    "info": "@ApplicationStrings.Showing _START_ @ApplicationStrings.To _END_ @ApplicationStrings.Of _TOTAL_ @ApplicationStrings.Entries",
                    "infoEmpty": "@ApplicationStrings.Showing 0 @ApplicationStrings.To 0 @ApplicationStrings.Of 0 @ApplicationStrings.Entries",
                    "lengthMenu": "@ApplicationStrings.Show _MENU_ @ApplicationStrings.Entries",
                    "sProcessing": "@ApplicationStrings.Processing",
                    "sLoadingRecords": "@ApplicationStrings.Loading",
                    "sEmptyTable": "@ApplicationStrings.NoDataInTable",
                    "sZeroRecords": "@ApplicationStrings.NoMatchingRecFound",
                    "sInfoFiltered": "(@ApplicationStrings.Filtered @ApplicationStrings.From _MAX_ @ApplicationStrings.Total @ApplicationStrings.Entries)",
                    "paginate": {
                        "first": "First",
                        "last": "Last",
                        "next": "@ApplicationStrings.Next",
                        "previous": "@ApplicationStrings.Previous",
                    },
                },*@
                processing: true,
                rowId: "Customers",
                initComplete:
                    function (settings) {
                        /* Apply the tooltips */
                        $('[data-toggle="tooltip"]').tooltip(
                        {
                            "container": 'body'
                        })
                    },

                columnDefs: [
                    { width: '15%', targets: 0 }
                ],

                fixedColumns: true,
                columns: [
                  
                  {
                      data: "DriverName",
                  },
                  {
                      data: "CustomerName",
                  },
                  {
                      data: "Address",
                  },
                  {
                      data: "Date",
                  },

                ],
                "bDestroy": true

            });
            resultstable.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        });

    $("#btnExportSearch").on("click", function () {
        var link = window.applicationBaseUri + 'Search/_SearchResults'
        var url = window.applicationBaseUri + "Search/ExportSearch/?selectedDriverItem=" + $("#Drivers").val() +
                                                                    "&selectedCustomerItem=" + $("#Customers").val() +
                                                                    "&StartDate=" + $("#StartDate").val() + 
                                                                    "&EndDate=" + $("#EndDate").val();
        $.ajax({
            url: url,
            cache: false,
            //data: function (d) {
            //    d.selectedDriverItem = $("#Drivers").val(),
            //    d.selectedCustomerItem = $("#Customers").val(),
            //    d.StartDate = $("#StartDate").val(),
            //    d.EndDate = $("#EndDate").val()
            //},
            //dataSrc: "",
        });
    });
</script>
       @* @Scripts.Render("~/bundles/dataTablesScripts")*@
    }
