﻿<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="@(Url.Content("~/Images/favicon.ico"))" type="image/x-icon" />

  <title>@ViewBag.Title - Aries Transportation</title>

  @Styles.Render("~/Content/SiteBootstrapBundle")
  @Styles.Render("~/Content/DataTableBundle")    
  @*@Styles.Render("~/Content/elements.css")*@  
  <link href="~/Content/bootstrap.css" rel="stylesheet" media="all">
  <script src="~/Scripts/DayPilot/daypilot-all.min.js" type="text/javascript"></script>
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Header", required: false)


</head>
<body>
    
  <nav class="navbar hidden-sm hidden-md hidden-xs navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand-logo brand img" href="/">
            <img alt="Aries Portal" src="~/Images/logo.png" class="navbar-logo">
        </a> 
      </div>
      <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav">
          @Html.Partial("_UserPartial")
        </ul>
        @Html.Partial("_LoginPartial")      

      </div>
    </div>
  </nav>
  <div class="outerDivBg">  
    <div class="innerDivBg"></div>  
  </div> 
  <div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
      <p>&copy; @DateTime.Now.Year - Aries Transportation</p>
    </footer>
  </div>

  @Styles.Render("~/Content/DataTableBundle")
  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/moment")
  @Scripts.Render("~/bundles/bootstrap")
  @RenderSection("scripts", required: false)
  @RenderSection("Templates", required: false)
</body>
</html>
