﻿@{
    Layout = "~/Views/Shared/_Blank.cshtml";
}
@{
    List<string> addresses = (List<string>)ViewData["Addresses"]; 
}
@using Aries.Model.Entities
@model Aries.Model.Entities.Customer

@if (ViewBag.Editable == false) 
{     
    <script type="text/javascript">
        if (parent && parent.DayPilot && parent.DayPilot.ModalStatic) {
            parent.DayPilot.ModalStatic.close(null);
        }
    </script>
}

<!DOCTYPE html>
<html>
<body class="padded">
    <form id="f" method="post" action="@Url.Action("Edit")">
    <h2>New Address</h2>

    <div style="margin-top:20px">
        <div>Customer Name</div>
        <div>@Html.TextBox("Name", Model.Name,  new { style = "width: 150px; height: 20px;" })</div>
    
        <div>Phone Number</div>
        <div>@Html.TextBox("PhoneNumber", Model.PhoneNumber, new { style = "width: 150px; height: 20px;" })</div>

        <div>State</div>
        <div>@Html.DropDownList("Address", new SelectList(addresses), new { style = "width: 150px; height: 20px;" })</div>

        <div>MedTransId</div>
        <div>@Html.TextBox("MedTransId",  Model.MedTransId, new { style = "width: 150px; height: 20px;" })</div>

        <div>FC8Id</div>
        <div>@Html.TextBox("FC8Id",  Model.FC8Id, new { style = "width: 150px; height: 20px;" })</div>

    </div>

    <hr />
    
    <div>
        <input type="submit" value="Save" class="btn btn-default.active btn-medium glyphicon glyphicon-save"/>
        <a href="javascript:close()" class="btn btn-default btn-medium glyphicon glyphicon-cancel" role="button">Cancel</a>    
    </div>
    
    </form>
    
    <script type="text/javascript">
        function close(result) {
            if (parent && parent.DayPilot && parent.DayPilot.ModalStatic) {
                parent.DayPilot.ModalStatic.close(result);
            }
        }

        $("#f").submit(function () {
            var f = $("#f");
            $.post(f.action, f.serialize(), function (result) {
                close(eval(result));
            });
            return false;
        });

        $(document).ready(function () {
            $("#Text").focus();
        });

    </script>
    
</body>
</html>
