﻿@using Aries.Model.Entities
@model Aries.Portal.Models.EmployeeViewModel
@{
    ViewBag.Title = "User Detail";
    List<string> rolesList = (List<string>)ViewData["Roles"]; 
}

<div class="page-header">
    <h3>User Detail</h3>
    @using (Html.BeginForm("UpdateUserProfile", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" })) 
    {
        @Html.AntiForgeryToken()
        <fieldset>
            <div class="hidden">
                @Html.TextBoxFor(model => model.Id, new { @readonly = true })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.UserName, new { @readonly = true })
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.EmployeeNumber, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.EmployeeNumber)
                    @Html.ValidationMessageFor(model => model.EmployeeNumber)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.LastName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.LastName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MI, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.MI)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Role, new { @class = "col-md-2 control-label" })
                <div class="col-md-2">
                    @Html.DropDownListFor(model => model.Role, new SelectList(rolesList), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Role)
                </div>
                @Html.LabelFor(model => model.DepartmentCodeOverride, new { @class = "col-md-3 control-label" })
                <div class="col-md-1">
                    @Html.CheckBoxFor(model => model.DepartmentCodeOverride, new { @class = "control-label" })
                </div>
                <div class="col-md-1">
                    @Html.TextBoxFor(model => model.DepartmentCode, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Active, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.CheckBoxFor(model => model.Active)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Update" />
                </div>
            </div>
        </fieldset>
    }    
</div>
