﻿@using Aries.Model.Entities
@{
   ViewBag.Title = "Users Overview";
   List<Employee> users = (List<Employee>)ViewData["Users"]; 
}

<div class="page-header">
    <h3>Users Overview </h3>
    <div style="text-align:center">
        <h3>  @Html.ActionLink("Add a New User", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) </h3>
    </div>
        <table class="table" style="border-collapse:collapse; " id="userTable">
            <thead>
                <tr class="header">
                    <th >User ID</th>
                    <th>Employee Number</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th class="col-sm-1">MI</th>
                    <th>Role</th>
                    @*<th>Mobile App Key</th>*@
                    <th>Active</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    @*<th>Mobile App Key</th>*@
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
                @{
                    foreach (var user in users)
                    {
                        var temp = "/Manage/UserDetail/" + user.Id;
                        <tr class="userrow">
                            @if (User.IsInRole("Admin") || ((User.IsInRole("Manager")) &&
                                                            (!@user.Role.Equals("Admin")) &&
                                                            (!@user.Role.Equals("Manager"))
                                                            )
                                                        || (User.Identity.Name.Equals(@user.UserName))
                                                        )
                            {
                                <td><a href='@temp'>@user.UserName</a></td>
                            }
                            else {
                                <td>@user.UserName </td >
                            }
                            <td>@user.EmployeeNumber</td>
                            <td>@user.LastName</td>
                            <td>@user.FirstName</td>
                            <td>@user.MI</td>
                            <td>@user.Role</td>
                            @*<td>@user.MobileAppKey</td>*@
                            <td>@user.Active</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

@section Scripts {
    @Scripts.Render("~/Scripts/jquery.dataTables.js");
    @Scripts.Render("~/Scripts/jquery.dataTables.min.js");
    @Scripts.Render("~/Scripts/jquery.dataTables.columnFilter.js");

<script>
    $(document).ready(function () {
        // Setup - add a text input to each footer cell
        //$('#userTable tfoot th').each(function () {
        //    var title = $(this).text();

        //    $(this).html('<input type="text" placeholder=" ' + title + '" />');
        //});

        // DataTable
        var table = $('#userTable').DataTable();

        // Apply the search
        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });
</script>
}