﻿@{
  ViewBag.Title = "Home Page";
  Layout = "~/Views/Shared/_Layout.cshtml";
}  
<div class="jumbotron">
  <h1>Aries Portal</h1>
    @if (!Request.IsAuthenticated)
    {
        <p class="lead">Please login.</p>
    }
</div>
