﻿@using DayPilot.Web.Mvc.Enums
@using DayPilot.Web.Mvc.Enums.Calendar
@using DayPilot.Web.Mvc.Enums.Navigator
@using DayPilot.Web.Mvc.Events.Calendar
@using DayPilot.Web.Mvc.Themes.Calendar

<h2>Timesheet (@ViewBag.EditUserName)(Week of @ViewBag.WeekOf) </h2>

<div class="container body-content">
    @*<div>*@
        <div class="col-md-6">
            @if (ViewBag.OfficeApproved == false)
            {
                if (ViewBag.isDispatch == false && ViewBag.CanApprove) { 
                    <input type="button" class="btn btn-default" title="btnOAPP" value="Approve" onclick="location.href='@Url.Action("OfficeApprove", "Timesheet", new { id = @ViewBag.UserID, date = @ViewBag.StartDate })   '" />
                }
                <input type="button" class="btn btn-default" title="btnLunch30" value="Lunch 30" onclick="location.href='@Url.Action("Lunch30", "Timesheet", new { id = @ViewBag.UserID, date = @ViewBag.StartDate})    '" />
                <input type="button" class="btn btn-default" title="btnLunc60" value="Lunch 60" onclick="location.href='@Url.Action("Lunch60", "Timesheet", new { id = @ViewBag.UserID, date = @ViewBag.StartDate})    '" />
            }
            @if (ViewBag.CanDisApproved)
            {
                <input type="button" class="btn btn-default" title="btnOUAPP" value="Un-Approve" onclick="location.href='@Url.Action("OfficeUnApprove", "Timesheet", new { id = @ViewBag.UserID, date = @ViewBag.StartDate})    '" />
            }

            @if (ViewBag.isAdmin)
            {
                <input type="button" class="btn btn-default" id="btnCredit" value="Credit Hours" onclick="creditEvent();" />
            }

            @if (ViewBag.isDispatch && ViewBag.isDriver)
            {
                <input type="button" class="btn btn-default" title="btnLogoff" value="Log Off" onclick="location.href='@Url.Action("ClockOut", "Timesheet", new { id = @ViewBag.UserID, date= DateTime.Now})    '" />
            }
            
            <div id="exportCalendarSelector" class="form-horizontal" style="max-width: 300px;">
                <div class="form-group">
                    <div class="col-sm-9">
                        <div class="input-group date">
                            <input type="button" value="Export Log" class="form-control" />
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="exportTimesheetCalendarSelector" class="form-horizontal" style="max-width: 300px;">
                <div class="form-group">
                    <div class="col-sm-9">
                        <div class="input-group date">
                            <input type="button" value="Export Timesheet" class="form-control" />
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="input-group prevWeek">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-arrow-left"></i></span>
                </div>
                <div class="input-group nextWeek">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-arrow-right"></i></span>
                </div>
            </div>
           @*<input type="button" class="btn btn-default" id="btnExportDaily" value="Export Todays Log" onclick="location.href='@Url.Action("ExportDriverLog", "Timesheet", new { driverName = @ViewBag.Name, date= DateTime.Now})'" />*@
           
        </div>
        <div class="col-md-offset-6">
            <table class="table" id="totalTable" border="1">
                <thead>
                    <tr class="form-group ">
                        <th class="control-label" colspan="2">Hour Worked</th>
                        <th class="control-label" colspan="3"></th>
                        <th class="control-label" colspan="2">Credit Hours</th>
                    </tr>
                    <tr class="form-group ">
                        <th class="control-label">Regular</th>
                        <th class="control-label">Overtime</th>
                        <th class="control-label">Holiday</th>
                        <th class="control-label">Bereavement</th>
                        <th class="control-label">Vacation</th>
                        <th class="control-label">Regular</th>
                        <th class="control-label">Overtime</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:center;">@ViewBag.RegularHours</td>
                        <td style="text-align:center;">@ViewBag.OverTimeHours</td> 
                        <td style="text-align:center;">@ViewBag.Holiday</td>
                        <td style="text-align:center;">@ViewBag.Bereavement</td>
                        <td style="text-align:center;">@ViewBag.Vacation</td>
                        <td style="text-align:center;">@ViewBag.CreditRegularHours</td>
                        <td style="text-align:center;">@ViewBag.CreditOverTimeHours</td>
                    </tr>
                </tbody>
            </table>    
            
       </div>


</div>

<div class="container body-content" id="dp">
    @if (ViewBag.Editable)
    {
        @Html.DayPilotCalendar("dpc", new DayPilotCalendarConfig
   {
       BackendUrl = Url.Action("Backend", "Timesheet", new { Id = @ViewBag.UserID }),
       EventCorners = CornerShape.Rounded,
       StartDate = @ViewBag.StartDate,
       HourWidth = 100,
       TimeRangeSelectedHandling = TimeRangeSelectedHandlingType.JavaScript,
       TimeRangeSelectedJavaScript = "createEvent(start, end)",
       EventMoveHandling = EventMoveHandlingType.CallBack,
       EventResizeHandling = EventResizeHandlingType.CallBack,
       EventClickHandling = EventClickHandlingType.JavaScript,
       EventClickJavaScript = "editEvent(e.value());",
       

   })  
    }
    else
    {
        @Html.DayPilotCalendar("dpc", new DayPilotCalendarConfig
   {
       BackendUrl = Url.Action("Backend", "Timesheet", new { Id = @ViewBag.UserID }),
       EventCorners = CornerShape.Rounded,
       StartDate = @ViewBag.StartDate,
       HourWidth = 100,
   })  
    }     
</div>


@section Scripts {
    <script type="text/javascript">
        var selectedWeek = new Date('@ViewBag.StartDate.ToShortDateString()');

        function isEditable (start) {
            var now = new Date();
            var today = new Date(now.getFullYear(), now.getMonth(), now.getDate());
            var yesterday = new Date(now.getFullYear(), now.getMonth(), now.getDate()-1);
            var todayStr = today.getFullYear().toString() + "-"
                         + (today.getMonth()+1<10?'0'+(today.getMonth()+1).toString():(today.getMonth()+1).toString())+ "-"
                         + today.getDate().toString();

            var yesterdayStr = yesterday.getFullYear().toString() + "-"
                         + (yesterday.getMonth()+1<10?'0'+(yesterday.getMonth()+1).toString():(yesterday.getMonth()+1).toString())+ "-"
                         + yesterday.getDate().toString();

            //var dateChosen = new Date(start.getFullYear(), start.getMonth(), start.getDate());
            var dateChosen = start.toStringSortable();
            var strChosen = dateChosen.split("T");

            var isAdmin = @(ViewBag.isAdmin ? "true" : "false");
            var isManager = @(ViewBag.isManager ? "true" : "false");
            var isDispatch = @(ViewBag.isDispatch ? "true" : "false");
            var isDispatchTS = @(ViewBag.isDispatchEditTimeAllowed ? "true" : "false");
            var isDriver = @(ViewBag.isDriver ? "true" : "false");

            //DDS added isDispatch on 1st group so dispatchers can edit previous days time sheet
            return (isManager || isAdmin || isDispatchTS) || (isDispatch && isDriver && ((strChosen[0] == todayStr) || (strChosen[0] == yesterdayStr)));
        }
        $('#calendarSelector .input-group.date').datepicker({ autoclose: true }).on('changeDate', function (e) {
            var selected = moment(e.date).startOf('week').format('YYYY-MM-DD');
            dpc.commandCallBack("navigate", { start: selected });
        });

        function vacationEvent() {
            modal().showUrl("@Url.Content("~/Dialog/Vacation")?id=" + @ViewBag.UserID);
        }

        function holidayEvent() {
            modal().showUrl("@Url.Content("~/Dialog/Holiday")?id=" + @ViewBag.UserID);
        }

        function createEvent(start, end, resource) {
            var editable = isEditable(start);

            if (editable)
                //if (strChosen[0] == todayStr)
            {
                modal().showUrl("@Url.Content("~/Dialog/New")?id=" + @ViewBag.UserID + "&start=" + start.toStringSortable() + "&end=" + end.toStringSortable());
            }
        }

        function editEvent(id) {
            var obj = dpc.events.find(id); // DayPilot.Calendar.events.find(id);
            var start = obj.start();
            editable = isEditable(start);

            if (editable) {
                modal().showUrl("@Url.Content("~/Dialog/Edit/")" + id);
            }
        }

        function creditEvent() {
            modal().showUrl("@Url.Content("~/Dialog/Credit")?id=" + @ViewBag.UserID);
        }
        function modal() {
            var modal = new DayPilot.Modal();
            modal.top = 60;
            modal.width = 300;
            modal.opacity = 30;
            modal.border = "5px solid #d0d0d0";
            modal.closed = function () {
                if (this.result == "OK") {
                    dpc.commandCallBack('refresh', { employeeId: @ViewBag.UserID });
                }
                dpc.clearSelection();
            };
            modal.height = 250;
            return modal;
        }

        $('#exportCalendarSelector .input-group.date').datepicker({ autoclose: true, weekStart: 1 }).on('changeDate', function (e) {
            var selected = moment(e.date).format('YYYY-MM-DD');
            //alert(selected);
            var urlString = "/Timesheet/ExportDriverLog/?driverName="+'@ViewBag.Name'+"&date=" + selected;
            window.location = urlString;
            //dpc.commandCallBack("navigate", { start: selected });
        });

        $('#exportTimesheetCalendarSelector .input-group.date').datepicker({ autoclose: true, weekStart: 1 }).on('changeDate', function (e) {
            var selected = moment(e.date).format('YYYY-MM-DD');
            //alert(selected);
            var urlString = "/Timesheet/ExportIndividualTimesheet/?employeeName="+'@ViewBag.EditUserName'+"&date=" + selected;
            window.location = urlString;
            //dpc.commandCallBack("navigate", { start: selected });
        });

        $('.input-group.prevWeek').on('click', function (e) {
            var selected = moment(new Date(selectedWeek.getFullYear(), selectedWeek.getMonth(), selectedWeek.getDate() - 7)).format('YYYY-MM-DD');   //moment(e.date).format('YYYY-MM-DD');
            //alert(selected);
            var urlString = "/Timesheet/Edit?Id=" + @ViewBag.UserID + "&date=" + selected;
            window.location = urlString;
            //dpc.commandCallBack("navigate", { start: selected });
        });


        $('.input-group.nextWeek').on('click', function (e) {
            var selected = moment(new Date(selectedWeek.getFullYear(), selectedWeek.getMonth(), selectedWeek.getDate() + 7)).format('YYYY-MM-DD');   //moment(e.date).format('YYYY-MM-DD');
            //alert(selected);
            selectedWeek = selected;
            var urlString = "/Timesheet/Edit?Id=" + @ViewBag.UserID + "&date=" + selected;
            window.location = urlString;
            //dpc.commandCallBack("navigate", { start: selected });
        });

    </script>
    <script>
        $(document).ready(function () {
            //$('#exportTimesheetCalendarSelector').datepicker("setDate", "0"); 
            //({ defaultDate: '@ViewBag.StartDate' } );
        });
    </script>
}
