﻿@using Aries.Model.Entities
@{
    ViewBag.Title = "Holiday Summary";
    //List<TimeoffSummary> timeoffSummary = (List<TimeoffSummary>)ViewData["TimeoffSummary"]; 
}

    @*style="border-collapse:collapse;"*@
<form id="f" method="post" action="@Url.Action("HolidaySummary", "Timesheet")">
    <table class="table" style="width:auto" id="HolidayTable" border="1">
        <thead>
            <tr class="header">
                <th>Employee</th>
                <th>Holiday Length</th>
                <th>Update</th>
            </tr>
        </thead>
        <tfoot>
            <tr class="header">
                <th>Employee</th>
                <th>Holiday Length</th>
                <th>Update</th>
            </tr>
        </tfoot>
        <tbody>            
        </tbody>
    </table>
</form>
    @section Scripts {
        @Scripts.Render("~/Scripts/jquery.dataTables.js");
        @Scripts.Render("~/Scripts/jquery.dataTables.min.js");
        @Scripts.Render("~/Scripts/jquery.dataTables.columnFilter.js");

        <script>
            
            window.applicationBaseUri = @Html.Raw(HttpUtility.JavaScriptStringEncode(Url.Content("~/"), true));
            var urlUpdate = window.applicationBaseUri + 'Timesheet/UpdateHoliday' ;
            $(document).ready(function () {
                // DataTable
                
                var checkState = "Accepted";
                
                $('#lunchTable tfoot th').each(function () {
                    var title = $(this).text();
                    console.log('Title= ', title.toString());
                    $(this).html('<input type="text" style="width:100%" placeholder="Search ' + title + '" />');
                });
                console.log(window.applicationBaseUri);
                // Activate an inline edit on click of a table cell
                
                var link = window.applicationBaseUri + "Timesheet/GetHolidaySummary/" ;
                var table = $('#HolidayTable').DataTable({

                    
                    ajax: {
                        url: link,
                        dataSrc: ""
                    },
                    processing: true,
                    stateSave:true,
                    rowId: "Requests",
                    initComplete:
                        function (settings) {
                            /* Apply the tooltips */
                            $('[data-toggle="tooltip"]').tooltip(
                            {
                                "container": 'body'
                            })
                        },
                    columns: [
                       { data: "EmployeeName"},
                       
                       {
                            data: "HolidayLength", className: 'editable',  
                            render: function (data, type, row, meta) {                               
                                var rowvalue = row["HolidayLength"];
                                return '<input type="text"' + ' id="HolidayLength" value="' + rowvalue + '" />' ; 
                            }
                       },                      
                       {
                           data: "ID", //Update holiday
                           render: function (data, type, row, meta) {
                                                            
                               var length = row["HolidayLength"];
                               var urlTags = window.applicationBaseUri + 'Timesheet/UpdateHoliday/?Id=' + data + '&length='+ length;
                               //return '<a class="btn btn-sm btn-primary id="updateLunchTimes"" href="' + urlTags + '">' + "Update" + '</a> '
                               return '<button btn btn-sm btn-primary name="updateHolidayLength"' + '>' + "Update"
                           }
                       },
                       
                    ],
                    order: [[1, "asc"]],
                    select: {
                        style:    'os',
                        selector: 'td:first-child'
                    },

                });
                table.columns().every(function () {
                    var that = this;

                    $('input', this.footer()).on('keyup change', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                });  

                $("#HolidayTable").on("click", "button[name=updateHolidayLength]", function () {
                    searchedRow = $(this).closest("tr");
                    var length = $("#HolidayLength", searchedRow).val();
                    var id = table.row( $(this).parents('tr') ).data()["ID"];
                    var url = window.applicationBaseUri + 'Timesheet/UpdateHoliday/?Id=' + id + '&length='+ length;
                    $.ajax({url: url, type:"POST", success: function(result){
                        
                    }});
                });
                
            });

            

        </script>
    }
