﻿
@using DayPilot.Web.Mvc.Enums
@using DayPilot.Web.Mvc.Enums.Calendar
@using DayPilot.Web.Mvc.Enums.Navigator
@using DayPilot.Web.Mvc.Events.Calendar
@using DayPilot.Web.Mvc.Themes.Calendar

<h3>
    <input type="button" class="btn btn-lg btn-link" title="btnP" value="<" onclick="prevWeek();"/>
    My Timesheet (@ViewBag.WeekOf) 
    <input type="button" class="btn btn-lg btn-link" title="btnP" value=">" onclick="nextWeek();"/>
</h3>
<div class="container body-content">
    @*<div>*@
        <div class="col-md-6">
            @if (ViewBag.SignedIn == false)
            {
            }

            @if (ViewBag.SignedOut == false)
            {
            }
            
            @if (ViewBag.isDriver == false)
            {
                <input type="button" class="btn btn-default" Id="btnIn" value="Sign In" onclick="location.href='@Url.Action("ClockIn", "Timesheet", new { id = @ViewBag.UserID, dt = DateTime.Now })    '" />
                <input type="button" class="btn btn-default" id="btnOut" value="Sign Out" onclick="location.href='@Url.Action("ClockOut", "Timesheet", new { id = @ViewBag.UserID, date = DateTime.Now })    '" />
            }

            @if (ViewBag.LunchTaken == false && ViewBag.isDriver == false)
            {
                <input type="button" class="btn btn-default" id="btnLunch" value="Lunch" onclick="location.href='@Url.Action("Lunch", "Timesheet", new { id = @ViewBag.UserID })    '" />
            }
            @*@if (ViewBag.IsAdmin == true || ViewBag.IsManager == true)
            {
                <input type="button" class="btn btn-default" id="btnVacation" value="Vacation" onclick="vacationEvent();" />

                <input type="button" class="btn btn-default" id="btnHoliday" value="Holiday" onclick="holidayEvent();" /> 
            }*@                   
            @if (ViewBag.EmployeeApproved == false)
            {
                <input type="button" class="btn btn-default" id="btnAPPROVE" value="Approve" onclick="employeeApproveEvent();" />    
            }
        </div>
        <div class="col-md-offset-7">
            <table class="table" id="totalTable" border="1">
                <thead>
                    <tr class="form-group ">
                        <th class="control-label" colspan="2">Hour Worked</th>
                        <th class="control-label" colspan="2"></th>
                        <th class="control-label" colspan="2">Credit Hours</th>
@*                        <th class="control-label">Off</th>
                        <th>Emp</th>
*@
                    </tr>
                    <tr class="form-group ">
                        <th class="control-label">Regular</th>
                        <th class="control-label">Overtime</th>
                        <th class="control-label">Holiday</th>
                        <th class="control-label">Vacation</th>
                        <th class="control-label">Regular</th>
                        <th class="control-label">Overtime</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@ViewBag.RegularHours</td>
                        <td>@ViewBag.OverTimeHours</td>                        
                        <td>@ViewBag.Holiday</td>
                        <td>@ViewBag.Vacation</td>
                        <td>@ViewBag.CreditRegularHours</td>
                        <td>@ViewBag.CreditOverTimeHours</td>
                    </tr>
                </tbody>
            </table>    
        </div>
    @*</div> *@
</div>

<div class="container body-content">
    @if (ViewBag.EmployeeApproved)
    {
        @Html.DayPilotCalendar("dpc", new DayPilotCalendarConfig
        {
            BackendUrl = Url.Action("Backend", "Timesheet", new { Id = @ViewBag.UserID }),
            EventCorners = CornerShape.Rounded,
            StartDate = @ViewBag.StartDate,        
            HourWidth = 100,
        })  
    }
    @*else if (ViewBag.IsDriver)
    {
        @Html.DayPilotCalendar("dpc", new DayPilotCalendarConfig
        {
           BackendUrl = Url.Action("Backend", "Timesheet", new { Id = @ViewBag.UserID }),
           EventCorners = CornerShape.Rounded,
           StartDate = @ViewBag.StartDate,
           HourWidth = 100,
           EventClickHandling = EventClickHandlingType.JavaScript,
           EventClickJavaScript = "editEvent(e.value());",
        })
    }*@
    else if ((ViewBag.IsAdmin || ViewBag.IsManager) || (ViewBag.IsDispatch && ViewBag.IsDriver))
    {
            @Html.DayPilotCalendar("dpc", new DayPilotCalendarConfig
        {
            BackendUrl = Url.Action("Backend", "Timesheet", new { Id = @ViewBag.UserID }),
            EventCorners = CornerShape.Rounded,
            StartDate = @ViewBag.StartDate,
            HourWidth = 100,
            TimeRangeSelectedHandling = TimeRangeSelectedHandlingType.JavaScript,
            TimeRangeSelectedJavaScript = "createEvent(start, end)",
            EventMoveHandling = EventMoveHandlingType.CallBack,
            @* EventResizeHandling = EventResizeHandlingType.CallBack,*@
            EventClickHandling = EventClickHandlingType.JavaScript,
            EventClickJavaScript = "editEvent(e.value());",
        })

    }
    else 
    {
           @Html.DayPilotCalendar("dpc", new DayPilotCalendarConfig
           {
               BackendUrl = Url.Action("Backend", "Timesheet", new { Id = @ViewBag.UserID }),
               EventCorners = CornerShape.Rounded,
               StartDate = @ViewBag.StartDate,
               HourWidth = 100,
           })

    }
</div>



@section Scripts {
  <script type="text/javascript">

    $('#calendarSelector .input-group.date').datepicker({ autoclose: true }).on('changeDate', function (e) {
        var selected = moment(e.date).startOf('week').format('YYYY-MM-DD');
        dpc.commandCallBack("navigate", { start: selected });        
    });

    function prevWeek() {
        //dpc.commandCallBack('previous');
        var Id = @ViewBag.UserID;
        dpc.commandCallBack("previous", { employeeId: Id });   
    }
    function thisWeek() {
        dpc.commandCallBack('today');
    }
    function nextWeek() {
        //dpc.commandCallBack('next');
        var Id = @ViewBag.UserID;
        dpc.commandCallBack("next", { employeeId: Id });   
    }
    function employeeApproveEvent() {
        var Id = @ViewBag.UserID;
        dpc.commandCallBack("employeeApprove", { employeeId: Id });   
    }

    function vacationEvent() {
        modal().showUrl("@Url.Content("~/Dialog/Vacation")?id=" + @ViewBag.UserID);
    }
    function holidayEvent() {
          modal().showUrl("@Url.Content("~/Dialog/Holiday")?id=" + @ViewBag.UserID);
    }

    function createEvent(start, end, resource) {        
        modal().showUrl("@Url.Content("~/Dialog/New")?id=" + @ViewBag.UserID + "&start=" + start.toStringSortable() + "&end=" + end.toStringSortable());
    }

      function editEvent(id) {
          var url = "/Timesheet/EventEditable";
          var serviceCode;
          $.get(url, {TimesheetDetailId: id, employeeId: @ViewBag.UserID}, function (editParm) {
              if ( editParm == "Non-Driver")
              {
                  modal().showUrl("@Url.Content("~/Dialog/Edit/")" + id);
              }
              else if ( editParm == "Holiday")
              {                     
                  modal().showUrl("@Url.Content("~/Dialog/HolidayEdit/")" + id);
              }
              else if ( editParm == "Vacation")
              {
                  modal().showUrl("@Url.Content("~/Dialog/VacationEdit/")" + id);
              }
         });

        @*modal().showUrl("@Url.Content("~/Dialog/Edit/")" + id);*@
    }
    function modal() {
        var modal = new DayPilot.Modal();
        modal.top = 60;
        modal.width = 300;
        modal.opacity = 30;
        modal.border = "5px solid #d0d0d0";
        modal.closed = function () {
            if (this.result == "OK") {
                dpc.commandCallBack('refresh', { employeeId: 0 });
            }
            dpc.clearSelection();
        };
        modal.height = 250;
        return modal;
    }
  </script>
}








