﻿@using Aries.Model.Entities
@{
    ViewBag.Title = "Timesheet Summary";
    List<TimesheetSummary> timesheetSummary = (List<TimesheetSummary>)ViewData["TimesheetSummary"];
}
@*@section Header{
    @Styles.Render("~/Content/dataTablesCss")
}*@

<div id="exportCalendarSelector" class="form-horizontal" style="max-width: 600px;">
    <div class="form-group">
        <div class="col-md-5">
            <div class="input-group date">
                <input type="button" id="exportAllDriversLogsDate" class="form-control" />
                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
        </div>
        <div class="col-md-5">
            <input type="button" class="btn btn-default" id="btnExportDriversLogs" value="Export All Drivers Logs Into Separate Files For the Date Chosen" />
        </div>
    </div>
</div>

<div id="exportTimesheetsSelector" class="form-horizontal" style="max-width: 600px;">
    <div class="form-group">
        <div class="col-md-5">
            <div class="input-group date">
                <input type="button" id="exportAllTimesheetsDate" class="form-control" />
                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
        </div>
        <div class="col-md-5">
            <input type="button" class="btn btn-default" id="btnExportAllTimesheets" value="Export All Timesheets Into Separate Files" />
        </div>
    </div>
</div>

<div id="summaryCalendarSelector" class="form-horizontal" style="max-width: 600px;">
    <div class="form-group">
        @*<label class="control-label col-sm-3"></label>*@
        <div class="col-md-5">
            <div class="input-group date">
                <input type="button" id="exportTimesheetDate" class="form-control" />
                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
        </div>
        <div class="col-md-5">
            <input type="button" class="btn btn-default" id="btnExportTimesheets" value="Export All This Weeks Timesheets 1 file"/>
        </div>
    </div>
</div>

@if (ViewBag.isAdmin || ViewBag.isManager){
    <div id = "holidayCalendarSelector" class="form-horizontal col-md-offset-9" style="max-width: 600px;" >
        <div class="form-group">
            <div class="col-md-5">
                <div class="input-group date">
                    <input type = "button" id="holidayDate" class="form-control" />
                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
            </div>
            <div class="col-md-5">
                <input type = "button" class="btn btn-default" id="btnApplyHoliday" value="Apply Holiday" />
            </div>
        </div>
    </div>
}

<div id="summaryCalendarSelectorWeek" class="form-horizontal" style="max-width: 300px;">
    <div class="form-group">
        <label class="control-label col-md-4">Week Of:</label>
        <div class="col-md-8">
            <div class="input-group date">
                <input type="text" class="form-control" />
                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
            <div class="input-group prevWeek">
                <span class="input-group-addon"><i class="glyphicon glyphicon-arrow-left"></i></span>
            </div>
            <div class="input-group nextWeek">
                <span class="input-group-addon"><i class="glyphicon glyphicon-arrow-right"></i></span>
            </div>
        </div>
    </div>
</div>
@*<input type="button" class="btn btn-default" title="btnHoliday" value="Lunch 60" onclick="location.href='@Url.Action("Holiday", "Timesheet", new { id = @ViewBag.UserID, date = @ViewBag.StartDate})    '" />*@
@*<p>@Html.ActionLink("PDF", "GetPdf", "Timesheet")</p>*@

@*<input type="button" class="btn btn-default" id="btnExportDaily" value="Export Todays Log" onclick="location.href='@Url.Action("ExportAllDriverLog", "Timesheet", new {date= DateTime.Now})'" />*@

<h3>Timesheet Summary (Week of @ViewBag.StartDate.ToShortDateString() - @ViewBag.StartDate.AddDays(6).ToShortDateString())</h3>

    @*style="border-collapse:collapse;"*@
<table class="table" id="userTable" border="1">
    <thead>
        <tr class="header">
            <th class="control-label" colspan="8"></th>
            <th class="control-label" colspan="2" style="text-align:center">Sub Total</th>
            <th class="control-label" colspan="2" style="text-align:center">Credit Hours</th>
            <th class="control-label" colspan="2" style="text-align:center">Total</th>
            <th class="control-label" colspan="2" style="text-align:center">Approved By</th>
        </tr>
        <tr class="header">
            <th>Employee</th>
            <th>Mon  @ViewBag.StartDate.Day</th>
            <th>Tue  @ViewBag.StartDate.AddDays(1).Day</th>
            <th>Wed  @ViewBag.StartDate.AddDays(2).Day</th>
            <th>Thu  @ViewBag.StartDate.AddDays(3).Day</th>
            <th>Fri  @ViewBag.StartDate.AddDays(4).Day</th>
            <th>Sat  @ViewBag.StartDate.AddDays(5).Day</th>
            <th>Sun  @ViewBag.StartDate.AddDays(6).Day</th>
            <th>Reg</th>
            <th>OT</th>
            <th>Reg</th>
            <th>OT</th>
            <th>Reg</th>
            <th>OT</th>
            <th>Emp</th>
            <th>Off</th>
        </tr>
    </thead>
    <tbody>
    @{
        foreach (var item in timesheetSummary)
        {
            // var temp = "/Timesheet/Edit/" + item.EmployeeId;
            var temp = "/Timesheet/Edit?Id=" + item.EmployeeId + "&date=" + ViewBag.StartDate.ToString(@"MM\/dd\/yyyy");
            <tr>
                <td><a href='@temp'>@item.EmployeeName</a></td>
                <td>W: @item.Mon.Worked<br />V: @item.Mon.Vacation <br />H: @item.Mon.Holiday <br />B: @item.Mon.Bereavement</td>
                <td>W: @item.Tue.Worked<br />V: @item.Tue.Vacation <br />H: @item.Tue.Holiday <br />B: @item.Tue.Bereavement</td>
                <td>W: @item.Wed.Worked<br />V: @item.Wed.Vacation <br />H: @item.Wed.Holiday <br />B: @item.Wed.Bereavement</td>
                <td>W: @item.Thu.Worked<br />V: @item.Thu.Vacation <br />H: @item.Thu.Holiday <br />B: @item.Thu.Bereavement</td>
                <td>W: @item.Fri.Worked<br />V: @item.Fri.Vacation <br />H: @item.Fri.Holiday <br />B: @item.Fri.Bereavement</td>
                <td>W: @item.Sat.Worked<br />V: @item.Sat.Vacation <br />H: @item.Sat.Holiday <br />B: @item.Sat.Bereavement</td>
                <td>W: @item.Sun.Worked<br />V: @item.Sun.Vacation <br />H: @item.Sun.Holiday <br />B: @item.Sun.Bereavement</td>
                <td style="text-align:center;vertical-align:middle;">@item.SubTotal.Reg</td>
                <td style="text-align:center;vertical-align:middle;">@item.SubTotal.OT</td>
                <td style="text-align:center;vertical-align:middle;">@item.Credit.Reg</td>
                <td style="text-align:center;vertical-align:middle;">@item.Credit.OT</td>
                <td style="text-align:center;vertical-align:middle;">@item.Total.Reg</td>
                <td style="text-align:center;vertical-align:middle;">@item.Total.OT</td>
                <td style="text-align:center;vertical-align:middle;">@item.EmployeeApproved</td>
                <td style="text-align:center;vertical-align:middle;">@item.OfficeApproved</td>
            </tr>
        }
    }
    </tbody>
</table>      

@section Scripts {
    @Scripts.Render("~/Scripts/jquery.dataTables.js");
    @Scripts.Render("~/Scripts/jquery.dataTables.min.js");
    @Scripts.Render("~/Scripts/jquery.dataTables.columnFilter.js");
    @Scripts.Render("~/Scripts/bootbox.js");

<script>
    var selectedWeek = new Date('@ViewBag.StartDate.ToShortDateString()');
    $('#summaryCalendarSelector .input-group.date').datepicker({ autoclose: true, weekStart: 1 }).on('changeDate', function (e) {
        var selected = moment(e.date).format('YYYY-MM-DD');
        //alert(selected);
        var urlString = "/Timesheet/Summary/?date=" + selected;
        //window.location = urlString;
        //dpc.commandCallBack("navigate", { start: selected });
    });
    $('#exportTimesheetsSelector .input-group.date').datepicker({ autoclose: true, weekStart: 1 }).on('changeDate', function (e) {
        var selected = moment(e.date).format('YYYY-MM-DD');
        //alert(selected);
        var urlString = "/Timesheet/Summary/?date=" + selected;
        //window.location = urlString;
        //dpc.commandCallBack("navigate", { start: selected });
    });

    $('#summaryCalendarSelectorWeek .input-group.date').datepicker({ autoclose: true, weekStart: 1 }).on('changeDate', function (e) {
        var selected = moment(e.date).format('YYYY-MM-DD');
        //alert(selected);
        var urlString = "/Timesheet/Summary/?date=" + selected;
        window.location = urlString;
        //dpc.commandCallBack("navigate", { start: selected });
    });

    $('#summaryCalendarSelectorWeek .input-group.prevWeek').on('click', function (e) {
        var selected = moment(new Date(selectedWeek.getFullYear(), selectedWeek.getMonth(), selectedWeek.getDate() - 7)).format('YYYY-MM-DD');   //moment(e.date).format('YYYY-MM-DD');
        //alert(selected);
        var urlString = "/Timesheet/Summary/?date=" + selected;
        window.location = urlString;
        //dpc.commandCallBack("navigate", { start: selected });
    });


    $('#summaryCalendarSelectorWeek .input-group.nextWeek').on('click', function (e) {
        var selected = moment(new Date(selectedWeek.getFullYear(), selectedWeek.getMonth(), selectedWeek.getDate() + 7)).format('YYYY-MM-DD');   //moment(e.date).format('YYYY-MM-DD');
        //alert(selected);
        selectedWeek = selected;
        var urlString = "/Timesheet/Summary/?date=" + selected;
        window.location = urlString;
        //dpc.commandCallBack("navigate", { start: selected });
    });

    $('#exportCalendarSelector .input-group.date').datepicker({ autoclose: true, weekStart: 1 }).on('changeDate', function (e) {
        var selected = moment(e.date).format('YYYY-MM-DD');
        //alert(selected);
        //var urlString = "/Timesheet/ExportAllDriverLog/?date=" + selected;
        var urlString = "/Timesheet/Summary/?date=" + selected;
        // window.location = urlString;
        //dpc.commandCallBack("navigate", { start: selected });
    });

    $('#exportTimesheetsSelector .input-group.date').datepicker({ autoclose: true, weekStart: 1 }).on('changeDate', function (e) {
        var selected = moment(e.date).format('YYYY-MM-DD');
        //alert(selected);
        //var urlString = "/Timesheet/ExportAllDriverLog/?date=" + selected;
        var urlString = "/Timesheet/Summary/?date=" + selected;
        // window.location = urlString;
        //dpc.commandCallBack("navigate", { start: selected });
    });

    //$('#holidayCalendarSelector .input-group.date').datepicker({ autoclose: true, weekStart: 1 }).on('changeDate', function (e) {
    //    var holidaySelected = moment(e.date).format('YYYY-MM-DD');
    //    //alert(selected);
    //    //var urlString = "/Timesheet/Holiday/?date=" + selected;
    //    //window.location = urlString;
    //    //dpc.commandCallBack("navigate", { start: selected });
    //});

    $("#userTable").dataTable({
        //bJQueryUI: true,
        //sPaginationType: "full_numbers",
        processing: true,
        stateSave: true,
        rowId: "Trip",
        initComplete:
            function (settings) {
                /* Apply the tooltips */
                $('[data-toggle="tooltip"]').tooltip(
                {
                    "container": 'body'
                })
            },
    });

    $("#btnExportDriversLogs").on("click", function () {
        searchedRow = $(this).closest("tr");
        var dt = $("#exportAllDriversLogsDate").val();
        var url = '/Timesheet/ExportAllDriverLog/?date=' + dt;
        $.ajax({
            url: url, type: "POST", success: function (result) {

            }
        });
    });
    $("#btnExportAllTimesheets").on("click", function () {
        searchedRow = $(this).closest("tr");
        var dt = $("#exportAllTimesheetsDate").val();
        var url = '/Timesheet/ExportAllTimesheets/?date=' + dt;
        $.ajax({
            url: url, type: "POST", success: function (result) {

            }
        });
    });
    $("#btnExportTimesheets").on("click", function () {
        searchedRow = $(this).closest("tr");
        var dt = $("#exportTimesheetDate").val();
        var url = '/Timesheet/ExportTimesheet/?date=' + dt;
        $.ajax({
            url: url, type: "POST", success: function (result) {

            }
        });
    });
    $("#btnApplyHoliday").on("click", function () {
        searchedRow = $(this).closest("tr");
        var dt = $("#holidayDate").val();
        var url = '/Timesheet/Holiday/?date=' + dt;
        bootbox.confirm(
             {
                 message: "Are you sure you want to add a holiday for all eligible employees?",
                 buttons: {
                     confirm: { label: 'Continue', className: 'btn-success' },
                     cancel: { label: 'Cancel', className: 'btn-danger' }
                 },
                 callback: function (confirmed) {
                     if (confirmed) {
                         $.ajax({
                             url: url, type: "POST",
                             success: function (result) {
                                 var urlString = "/Timesheet/Summary/?date=" + dt;
                                 window.location = urlString;
                             }
                         });
                     }
                 }
             });
        
    });

    $("#holidayDate").datepicker("setDate", "0");

</script>
@*@Scripts.Render("~/bundles/bootstrap")*@
}