﻿@using Aries.Model.Entities
@{
    ViewBag.Title = "Time Off Requests Summary";
    //List<TimeoffSummary> timeoffSummary = (List<TimeoffSummary>)ViewData["TimeoffSummary"]; 
}

    @*style="border-collapse:collapse;"*@
<form id="f" method="post" action="@Url.Action("TimeOffRequests", "Timesheet")">
    <table class="table" style="width:auto" id="timeoffTable" border="1">
        <thead>
            <tr class="header">
                <th>Employee</th>
                <th>Time</th>
                <th>Date Requested</th>
                <th>Hours</th>
                <th>Approval Status</th>
                <th>Approval State</th>
                <th>Comments</th>
                <th class="hidden">ID</th>
                @*<th>Toggle Approval</th>*@
            </tr>
        </thead>
        <tfoot>
            <tr class="header">
                <th>Employee</th>
                <th>Time</th>
                <th>Date Requested</th>
                <th>Hours</th>
                <th>Approval Status</th>
                <th>Approval State</th>
                <th>Comments</th>
                <th class="hidden">ID</th>
                @*<th>Toggle Approval</th>*@
            </tr>
        </tfoot>
        <tbody>
            @{
                @*foreach (var item in timeoffSummary)
                    {
                        <tr>
                            <td>@item.EmployeeName</td>
                            <td>@item.TimeOfRequest</td>
                            <td>@item.TimeOffRequested</td>
                            <td>@item.AmountOfTime</td>
                            <td>@item.ApprovalStatus</td>
                            <td>@item.Comments</td>
                        </tr>
                    }*@
            }
        </tbody>
    </table>
</form>
    @section Scripts {
        @Scripts.Render("~/Scripts/jquery.dataTables.js");
        @Scripts.Render("~/Scripts/jquery.dataTables.min.js");
        @Scripts.Render("~/Scripts/jquery.dataTables.columnFilter.js");

        <script>
            //$('#summaryCalendarSelector .input-group.date').datepicker({ autoclose: true, weekStart: 1 }).on('changeDate', function (e) {
            //    var selected = moment(e.date).format('YYYY-MM-DD');
            //    //alert(selected);
            //    var urlString = "/Timesheet/Summary/?date=" + selected;
            //    window.location = urlString;
            //    //dpc.commandCallBack("navigate", { start: selected });
            //});

            //$("#timeoffTable").dataTable({
            //    bJQueryUI: true,
            //    sPaginationType: "full_numbers"
            //});
            window.applicationBaseUri = @Html.Raw(HttpUtility.JavaScriptStringEncode(Url.Content("~/"), true));
            var urlUpdate = window.applicationBaseUri + 'Timesheet/UpdateApproval' ;
            $(document).ready(function () {
                // DataTable

                var checkState = "Accepted";
                
                console.log('In initTable');
                $('#timeoffTable tfoot th').each(function () {
                    var title = $(this).text();
                    console.log('Title= ', title.toString());
                    $(this).html('<input type="text" style="width:100%" placeholder="Search ' + title + '" />');
                });
                console.log(window.applicationBaseUri);

                var link = window.applicationBaseUri + "Timesheet/GetTimeOffRequests/" ;
                var table = $('#timeoffTable').DataTable({

                    
                    ajax: {
                        url: link,
                        //data:function ( d ){
                        //    d.fr = $('#fr').datepicker().val(),
                        //    d.to = $('#to').datepicker().val()
                        //},
                        dataSrc: ""
                    },
                    processing: true,
                    rowId: "Requests",
                    initComplete:
                        function (settings) {
                            /* Apply the tooltips */
                            $('[data-toggle="tooltip"]').tooltip(
                            {
                                "container": 'body'
                            })
                        },
                    columns: [
                       { data: "EmployeeName"},
                       {
                           data: "TimeOfRequest",

                           render: function (data, type, row, meta) {
                               var rowvalue = row["TimeOfRequest"];

                               var date = new Date(parseInt(data.substr(6)));

                               var mth = date.getMonth() + 1;
                               var day = date.getDate();
                               var hh = date.getHours();
                               var ampm = (hh >= 12) ? "PM" : "AM";
                               hh = (hh <= 12) ? hh : hh-12;
                               var mm = date.getMinutes();
                               var ss = date.getSeconds();

                               var month = (mth < 10) ? "0" + mth : mth;
                               var days = (day < 10) ? "0" + day : day;
                               var hrs = (hh < 10) ? "0" + hh : hh;
                               var min = (mm < 10) ? "0" + mm : mm;
                               var sec = (ss < 10) ? "0" + ss : ss;

                               return month + "/" + days + "/" + date.getFullYear() + " "
                                      + hrs + ":" + min + ":" + sec + " " + ampm;
                           }
                       },

                       {
                           data: "TimeOffRequested",

                           render: function (data, type, row, meta) {
                               var rowvalue = row["TimeOffRequested"];

                               var date = new Date(parseInt(data.substr(6)));

                               var mth = date.getMonth() + 1;
                               var day = date.getDate();
                               var hh = date.getHours();
                               var ampm = (hh >= 12) ? "PM" : "AM";
                               hh = (hh <= 12) ? hh : hh-12;
                               var mm = date.getMinutes();
                               var ss = date.getSeconds();

                               var month = (mth < 10) ? "0" + mth : mth;
                               var days = (day < 10) ? "0" + day : day;
                               var hrs = (hh < 10) ? "0" + hh : hh;
                               var min = (mm < 10) ? "0" + mm : mm;
                               var sec = (ss < 10) ? "0" + ss : ss;

                               return month + "/" + days + "/" + date.getFullYear();
                           }
                       },

                       { data: "AmountOfTime" },
                       {
                           data: "ApprovalStatus",
                           render: function (data, type, row, meta) {
                               urlUpdate = urlUpdate;
                               var html = "";
                               var htmlaccept = "";
                               var htmlreject = "";
                               var urlSubmit = window.applicationBaseUri + 'Timesheet/Submit/' + row.ID;
                               var status='No action';
                               if (row.ApprovalState=='Not Entered') { 
                                   status='Not Entered';
                               } else { 
                                   if (data==true){
                                       status = 'Accepted';
                                       htmlaccept = " Checked ";
                                       htmlreject = " ";                                       
                                   } else {
                                       htmlaccept = " ";
                                       htmlreject = " Checked ";                                       
                                       status='Rejected';
                                   }
                               }
                                
                               return '<input type="radio"' + htmlaccept+ 'name="status'+row.ID+'" value="accept" onClick="accepted(urlUpdate,'+ row.ID+');"> Accepted<br><input type="radio"' + htmlreject + ' name="status'+row.ID+'" value="reject" onClick="rejected(urlUpdate,'+ row.ID+');"> Rejected<br><a href="' + urlSubmit + '">Submit</a>';
                               //return '<a href="' + url + '">' + status + '</a>';
                           }
                       },
                       { data: "ApprovalState"},
                       { data: "Comments" },
                       { data: "ID",
                            "visible": false },
                    ],
                    order: [[1, "asc"]],

                });
                table.columns().every(function () {
                    var that = this;

                    $('input', this.footer()).on('keyup change', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                });

                setInterval(function () {
                    console.log('Timer set');

                    table.ajax.reload(null, false); // user paging is not reset on reload
                }, 30000)

                //$('#fr').datepicker()
                //    //comment the beforeShow handler if you want to see the ugly overlay
                //    //beforeShow: function () {
                //    //    setTimeout(function () {
                //    //        $('.ui-datepicker').css('z-index', 99999999999999);
                //    //    }, 0);
                //    //},
                //    .on("change", function (e) {
                //        table.ajax.reload(null, false);
                //    });
                ////$('#to').datepicker();
                //$('#to').datepicker()
                //    .on("change", function (e) {
                //        table.ajax.reload(null, false);
                //    });
            });
            function accepted(url, id) {
                //url = "/Aries.Portal/Timesheet/UpdateApproval?id=4&state=Accepted";
                url = url + "?id="+id+"&state=Accepted";
                $.ajax({url: url, type:"POST", success: function(result){
                        
                }});
            }
            function rejected(url, id) {
                url = url + "?id="+id+"&state=Rejected";
                $.ajax({url: url, type:"POST", success: function(result){
                        
                }});

            }          
        </script>
    }
